.aboutplace{
  color: #15597E;
  font-size:18px;
  font-weight: 500;
  margin: 20px 0px 15px 0px;
}
.populardishes,.cuisinesheading{
  color: #15597E;
  font-size: 17px;
  font-weight: 500;
  margin: 20px 0px 15px 0px;
}
.disheslist{
  color: #000;
  font-size:16px;
  font-weight:500;
}
.cuisinessbadges{
  display: flex;
  align-items: center;
  gap: 15px;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
}
.peoplesayingcardcontainer{
  display: flex;
  align-items: center;
  gap: 10px;
  overflow-y: hidden;
  overflow-x: auto;
}
.badges{
  border-radius: 10px;
  border: 1px solid #fc9c6780;
  background: #FFFCF3;
  padding: 6px 12px;
}
.peoplesaying,.vendornoteheading,.contactus,.addresheading{
  color: #15597E;
  font-size:16px;
  font-weight: 500;
  margin: 20px 0px 15px 0px;
}
.card{
  border-radius: 10px;
  border: 1px solid #fc9c6780;
  background: #FFFCF3;
  padding: 10px;
  width:150px;
}
.peoplename{
  color: #000;
  font-size: 15px;
  font-weight: 500;
}
.comments{
  color: #00000080;
  font-size: 17px;
  font-weight:400;
  margin-top: 6px;
  max-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp:2;
}
.cardimg img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.vendornotesection{
  border-radius: 10px;
  border: 1px solid #fc9c6780;
  background: #FFFFFF;
  padding: 6px 12px;
  color: #000000;
  font-size:16px;
  font-weight:400;
}
.phonenumber,.address{
  color: #000;
  font-size: 17px;
  font-weight: 500;
}

.socialmedia{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 30px 0px;
}
.socialmedia a{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #FFFCF3;
  border: 2px solid #FC9C67;
  font-size: 18px;
  border-radius: 50%;
  color: #FC9C67;
  transition: .5s ease;
  text-decoration: none;
  box-shadow: 0 0 10px #00000080;
}
.socialmedia a:hover{
  box-shadow: none;
}