<div class="reviewcontainer">
  <div class="reviewsheading">Customer reviews</div>
  <div class="overallratings">
      <div class="finalrating">4.5</div>
      <div class="points">
          <span><i class="fas fa-heart" style="color: #fc9c67;"></i></span>
          <span><i class="fas fa-heart" style="color: #fc9c67;"></i></span>
          <span><i class="fas fa-heart" style="color: #fc9c67;"></i></span>
          <span><i class="fas fa-heart" style="color: #fc9c67;"></i></span>
      </div>
      <div class="totalresponses"><span>1200</span><span>   reviews</span></div>
  </div>

 <div class="graphcontainer">
  <div class="graph">
      <div>5</div>
      <div class="ranger1"><input type="range"></div>
      <div>90%</div>
      <div>952</div>
  </div>
  <div class="graph">
      <div>5</div>
      <div class="ranger2"><input type="range"></div>
      <div>90%</div>
      <div>952</div>
  </div>
  <div class="graph">
      <div>5</div>
      <div class="ranger3"><input type="range"></div>
      <div>90%</div>
      <div>952</div>
  </div>
  <div class="graph">
      <div>5</div>
      <div class="ranger4"><input type="range"></div>
      <div>90%</div>
      <div>952</div>
  </div>
  <div class="graph">
      <div>5</div>
      <div class="ranger5"><input type="range"></div>
      <div>90%</div>
      <div>952</div>
  </div>
 </div>

  <div class="customerreview">
      <div class="customernamesection">
          <div class="customerimgsection">
              <div class="customerimg"><img src="assets/imagefolder/peopleimg.png" alt=""></div>
              <div class="customernamerating">
                  <div>Phenom</div>
                  <div class="points">
                      <span><i class="fas fa-star" style="color: #ffd700;"></i></span>
                      <span><i class="fas fa-star" style="color: #ffd700;"></i></span>
                      <span><i class="fas fa-star" style="color: #ffd700;"></i></span>
                      <span><i class="fas fa-star" style="color: #ffd700;"></i></span>
                  </div>
              </div>
          </div>
          <div class="timeduration">
              <span>3</span><span>   Days</span>
          </div>
      </div>
      <div class="customercomment">I really like the food here,delicious and cheap 😁</div>
      <div class="replysection">
         <div class="replysection">Reply</div>
         <div class="sharesection">
          <div><i class="fas fa-heart" style="color: #fc9c67;"></i></div>
          <div><i class="fas fa-share-square" style="color: #fc9c67;"></i></div>
         </div>
      </div>
  </div>
  <div class="viewallreviews"><button>Veiw All Reviews</button></div>
</div>
