<div>
  <!-- Main area 2 html -->
  <div class="restaurant-detail">
    <span class="restaurant-detail-heading">User Review</span>
    <!-- Total review HTML card -->
    <div class="total-review">
        <div class="total-review-heading">Rate your dining experience</div>
        <div class="average-review">
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
            <i class="fas fa-star stars"></i>
        </div>
        <div class="ratepercentage" *ngIf="ratingRatio.length > 0 && reviews.length > 0">
            <div class="rating-review-item">
                <div class="right-rating">
                  <ul class="order-list">
                    <li *ngFor="let rate of ratingRatio">
                      <div class="star-value">
                        <h5>{{rate.index}}</h5>
                        star
                      </div>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{'width': calculateRate(rate.rate)}" style="background-color:#FEB300;"></div>
                      </div>
                      <div class="rating-hit">{{calculateRate(rate.rate)}}</div>
                    </li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Total review card HTML ends -->


    <!-- review card html ends-->
    <div class="review-card" *ngFor="let review of reviews">
        <div class="reviews">
            <div class="userimg-name-star">
                <img class="user-img"src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dXNlcnxlbnwwfHwwfHw%3D&w=1000&q=80" width="80px"height="80px"style="border-radius:50%;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);"/>
                <div class="details">
                    <div class="user-name">{{review.user?.name}}</div>
                    <span class="star">
                      <i class="fas fa-star" *ngFor="let i of rateCounter(review.rate)"></i>
                    </span>
                </div>
            </div>
            <div class="time-of-review">
                {{review.created_at | date}}
            </div>
        </div>
        <div class="row">
          <div class="col-lg-4 images">
            <div class="image" *ngIf="review.images">
              <img [src]="storageLink + review.images" width="250px" height="150px" />
            </div>
          </div>
        </div>
        <div class="review-statement">{{review.review}}</div>
        <div class="review-button">
            <a class="reply"><i class="fas fa-heart"></i>&nbsp;{{review.likes}}</a>
            <a class="share"><i class="fas fa-share-square"></i></a>
        </div>
    </div>
    <!-- review card html ends -->
  </div>
  <!-- ends here -->
</div>
