header{
  width: 100%;
}
.searchresult{
  width: 100%;
}
.searchbox{
  padding: 10px 0px 0px 0px;
  background-color: #FFFFFF;
  z-index: 99;
}
.searchbar{
  display: flex;
  align-items: center;
}
.searchbar input{
  width:100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #FC9C67 !important;
  padding: 12px 18px;
  background-color: #FFFCF3;
  font-size:14px;
  font-weight: 600;
  color: #FC9C67;
}
.searchbar input::placeholder{
  color: #FC9C67;
  font-size:14px;
  font-weight: 600;
}
.recentsearchsuggestion{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.searcharrow i{
    height: 20px;
    width: 20px;
    position:relative;
    right: 20px;
}
.arrowimg img{
  height: 20px;
  width: 20px;
}
.arrowimg{
  transform: rotate(45deg);
}
.suggestionsection{
  display: flex;
  align-items: center;
  gap: 10px;
}
.clock img{
  height: 20px;
  width: 20px;
}
.clock1{
  display: flex;
  align-items: center;
  gap: 6px;
}
.searchresult{
  color: #000;
  font-size:14px;
  font-weight: 400;
}
.recentsearchsuggestion{
  margin: 6px 22px;
  padding:5px 5px 0px 0px;
}
i{
  color: #FC9C67;
}