<!-- Checkout page code -->

<div class="centering">
  <div class="wrapper">
    <div>
      <span>
        <i class="fas fa-angle-left backbtn" (click)="sharedService.back()"></i>
        <span class="shopname" *ngIf="shops" >{{ shops.title }}</span>
      </span>
    </div>

    <!-- Discount Banner -->
    <!-- <div class="discount-banner">
      <span>🥳 You're saving ₹15 on this order</span>
    </div> -->

    <!-- Product Card -->
    <div class="product-card" *ngFor="let item of cart; let i = index">
      <div class="product-details">
        <span class="itemimg">
          <img
            src="assets/imagefolder/veg.png"
            class="categoryimg"
            alt="veg"
            width="15px"
            height="15px"
          />
        </span>
        <div>
          <div class="itemname">{{item.itemDetails.name}}</div>
          <p class="price">
            <span class="originalprice" *ngIf="!item.isVariantSelected">{{item.itemDetails.price | currency: 'INR'}}</span>
            <span class="originalprice" *ngIf="item.isVariantSelected">{{item.variant?.price | currency: 'INR'}}</span><span *ngIf="item.isVariantSelected"> ( {{ item.variant?.name }} )</span>
          </p>
          <p>
            <span class="editbtn">Edit ▸</span>
          </p>
        </div>
      </div>
      <div class="quantity">
        <div class="orderqty">
          <span class="qtybuttons">
            <span class="buttons" (click)="descQuanity(i)">-</span>
            <span class="buttons">{{item.quantity}}</span>
            <span class="buttons" (click)="increaseQuanity(i)">+</span>
          </span>
          <p class="price">
            <!-- <span class="strikethrough">₹199</span> -->
            {{ viewPriceWithQty(item) | currency: 'INR' }}</p>
        </div>
      </div>
    </div>

    <div class="note tick" *ngIf="cart && cart.length === 0">
      <img src="assets\icons\ph_note-light.jpg" />
      <span class="notetext"> Your Cart is Empty!</span>
    </div>

    <!-- Note Section -->
    <div class="note tick">
      <img src="assets\icons\ph_note-light.jpg" />
      <span class="notetext"> Add a note for the restaurant </span>
    </div>

    <!-- Offers Section -->
    <!-- <div class="offers">
      <div class="offer">
        <div>
          <div class="tick">
            <img src="assets\icons\tickcircle.jpg" />
            You saved ₹52 on delivery
          </div>
          <span class="small-text">
            Auto-applied as your order is above ₹199
          </span>
        </div>
      </div>
      <div class="offer">
        <div class="tick">
          <img src="assets\icons\tickcircle.jpg" />
          Items starting at ₹139 only applied!
        </div>
        <span class="discount">-₹80.00</span>
      </div>
      <div class="coupon">
        <div>
          <div>
            <span><img src="assets\icons\bxs_offer.png" /></span>
            Save ₹175 more with GET175
          </div>
          <div class="small-text1">View all restaurant coupons ▸</div>
        </div>

        <div class="applybtn">APPLY</div>
      </div>
      <div class="coupon">
        <div>
          <div class="tick">
            <img src="assets\icons\cashback.jpg" />
            Get a cashback with PAYTMUPI
          </div>
          <div class="small-text1">View all payment coupons ▸</div>
        </div>
        <div class="applybtn">APPLY</div>
      </div>
    </div> -->

    <!-- Delivery Info -->
    <div class="delivery">
      <div class="tick">
        <img src="assets\icons\clock.jpg" />&nbsp; Delivery in
        <span class="time">35 mins</span>
      </div>
      <div class="delivery-info">
        <div>
          <div class="tick">
            <img src="assets\icons\home.jpg" />
            <span>&nbsp; Delivery at Home</span>
            <div class="small-text">&nbsp;xxxyyzz, Lucknow</div>
            <div class="small-text">
              &nbsp;Add instructions for delivery partner
            </div>
          </div>
        </div>
      </div>
      <div class="contact">
        <div class="tick">
          <img src="assets\icons\phone.jpg" />
          &nbsp;{{ sharedService.user.name }}, +91-{{ sharedService.user.username }}
        </div>
      </div>
      <div class="totalbill">
        <div>
          <div class="tick">
            <img src="assets\icons\billlist.jpg" />
            &nbsp;Total Bill <b>{{ payments.payableAmount | currency: 'INR'}}</b>
            <span class="saving" *ngIf="payments.discount > 0">You saved {{ payments.discount | currency: 'INR' }}</span>
          </div>
          <div class="small-text">&nbsp;Incl.taxes and charges</div>
        </div>
      </div>
    </div>
    <div class="bottompartofmainpage">
      <div class="bottomnavigation">
        <div>
          <img src="assets\icons\google-pay.png" />
          <span class="paybillbtn"> PAY USING ▸ </span>
        </div>
        <div>
          <div class="amt" (click)="isOrderCreated?reOrder():placeOrder()">
            Total {{ payments.payableAmount | currency: 'INR' }}
            <span class="paybill"> Pay Bill ▸ </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer [show]="false"></app-footer>
</div>
<online-payments *ngIf="isPaymentStart" [orderId]="orderId"></online-payments>
