<div class="centering">
    <div class="wrapper">
    <div class="mainpage">
        <div class="checkoutpage" >
        <div class="mycart">
            <div class="mycartheading">Checkout</div>
            <div class="itemsection" *ngFor="let item of cart">
                <div class="itemsdetails">
                    <div class="itemimage">
                      <img src="assets/imagefolder/resturantimg.jfif" *ngIf="item.itemDetails.image === null || item.itemDetails.image === ''" referrerpolicy="no-referrer" alt="item image">
                      <img [src]="storageUrl + item.itemDetails.image" *ngIf="item.itemDetails.image !== null && item.itemDetails.image !== ''" referrerpolicy="no-referrer" alt="item image" />
                    </div>
                    <div class="itemnamesection">
                        <div class="itemname">{{item.itemDetails.name}}</div>
                        <div class="itemprice"><span>&#8377; {{item.itemDetails.price}}</span></div>
                    </div>
                </div>
                <div class="itemquantity">
                    <div class="decreasequantity" (click)="descQuanity(item.itemDetails.id)"><span>-</span></div>
                    <div>{{item.quantity}}</div>
                    <div class="increasequantity" (click)="increaseQuanity(item.itemDetails.id)"><span>+</span></div>
                </div>
            </div>
            <div class="itemsection"  *ngIf="cart && cart.length === 0">
              <div class="itemsdetails">
                  <div class="itemnamesection">
                    No item present in your cart
                  </div>
              </div>
            </div>
            <!-- <no-item-page text="No item present in your cart" *ngIf="cart && cart.length === 0"></no-item-page> -->

            <!-- <div class="promocodeheading">Have a promo code ?</div>
            <div class="applypromocode">
                <input type="text" placeholder="Enter the Coupon Code">
                <button class="applybtn">Apply</button>
            </div> -->

            <div class="paymentmethodsection">
                <div class="paymentmethodheading">Payment Method</div>
            </div>
            <div class="paynowsection" *ngFor="let method of paymentMethod" (click)="updateMethod(method.id)">
                <span><input type="radio" [id]="method.id" [checked]="method.active"></span>
                <span class="paymentoptionheading"><label [for]="method.id" class="payatshop">{{method.name}}</label></span>
            </div>

            <div class="summaryheading">Order Summary</div>
            <div class="summaryamount">
                <div class="summarydetailname">
                    <div>SubTotal</div>
                    <div *ngIf="payments.taxes != 0">Taxes (GST + Service Charge) {{payments.taxes}}%</div>
                    <div>Grand Total</div>
                    <div>Discount</div>
                </div>
                <div class="summarydetailprice">
                    <div><span>{{payments.subTotal | currency: 'INR'}}</span></div>
                    <div *ngIf="payments.taxes != 0"><span>{{payments.taxesRate | currency: 'INR'}}</span></div>
                    <div><span>{{payments.grandTotal | currency: 'INR'}}</span></div>
                    <div><span>{{payments.discount | currency: 'INR'}}</span></div>
                </div>
            </div>
            <div class="totalamount">
                <div>Payable Amount</div>
                <div>{{payments.payableAmount | currency: 'INR'}}</div>
            </div>

            <div class="paynowbtn" (click)="placeOrder()">
              <button (click)="isOrderCreated?reOrder():placeOrder()">Place Order</button>
            </div>
        </div>
        </div>
    </div>
    <bottom-nav></bottom-nav>
    <footer [show]="false"></footer>
    </div>
</div>
<online-payments *ngIf="isPaymentStart" [orderId]="orderId"></online-payments>
