<div class="centering">
    <div class="wrapper">
    <div class="mainpage">
        <div class="checkoutpage">
        <div class="mycart">
            <div class="mycartheading">Checkout</div>
            <div class="itemsection">
                <div class="itemsdetails">
                    <div class="itemimage"><img src="assets/imagefolder/itemimage.jfif" alt=""></div>
                    <div class="itemnamesection">
                        <div class="itemname">Chocolate pie</div>
                        <div class="itemprice">&#8377; <span>49</span></div>
                    </div>
                </div>
                <div class="itemquantity">
                    <div class="decreasequantity"><span>-</span></div>
                    <div>1</div>
                    <div class="increasequantity"><span>+</span></div>
                </div>
            </div>
            <div class="itemsection">
                <div class="itemsdetails">
                    <div class="itemimage"><img src="assets/imagefolder/itemimage.jfif" alt=""></div>
                    <div class="itemnamesection">
                        <div class="itemname">Chocolate pie</div>
                        <div class="itemprice">&#8377; <span>49</span></div>
                    </div>
                </div>
                <div class="itemquantity">
                    <div class="decreasequantity"><span>-</span></div>
                    <div>1</div>
                    <div class="increasequantity"><span>+</span></div>
                </div>
            </div>
            <div class="itemsection">
                <div class="itemsdetails">
                    <div class="itemimage"><img src="assets/imagefolder/itemimage.jfif" alt=""></div>
                    <div class="itemnamesection">
                        <div class="itemname">Chocolate pie</div>
                        <div class="itemprice">&#8377; <span>49</span></div>
                    </div>
                </div>
                <div class="itemquantity">
                    <div class="decreasequantity"><span>-</span></div>
                    <div>1</div>
                    <div class="increasequantity"><span>+</span></div>
                </div>
            </div>

            <div class="promocodeheading">Have a promo code ?</div>
            <div class="applypromocode">
                <input type="text" placeholder="Enter the Coupon Code">
                <button class="applybtn">Apply</button>
            </div>

            <div class="paymentmethodsection">
                <div class="paymentmethodheading">Payment Method</div>
            </div>
            <div class="paynowsection">
                <span><input type="radio" name="1"></span><span class="paymentoptionheading">Pay Now</span>
            </div>
            <div class="payatshopsection">
                <span><input type="radio" name="1"></span><span class="paymentoptionheading">Pay At Shop</span>
            </div>

            <div class="summaryheading">Order Summary</div>
            <div class="summaryamount">
                <div class="summarydetailname">
                    <div>Item total</div>
                    <div>Taxes</div>
                </div>
                <div class="summarydetailprice">
                    <div>&#8377; <span>49.00</span></div>
                    <div>&#8377; <span>2.50</span></div>
                </div>
            </div>
            <div class="totalamount">
                <div>Total</div>
                <div>&#8377; <span>100.00</span></div>
            </div>

            <div class="paynowbtn">
                <button>Pay Now</button>
            </div>
        </div>
        </div>
    </div>
    <bottom-nav></bottom-nav>
    </div>
</div>
