.topbrandsection{
    width: 100%;
    padding-top: 10px;
  }
  .topbrandheading h1{
    font-size: 20px;
    font-weight: 600;
  }
  .topbrandlist{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap:10px;
    margin-top: 10px;
  }
  .brands{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
  }
  .topbrandlist{
    width: 100%;
  }
  .topbrandlist .brands img{
    width:70px;
    height:70px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  }
  .topbrandlist .brands span{
    font-size:15px;
    font-weight: 500;
    margin-top: 5px;
    width:95px;
    max-height:50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;
}