<div class="topbrandsection" *ngIf="shops && shops.length > 0">
  <div class="topbrandheading">
      <h1>Top Brands</h1>
  </div>
  <div class="topbrandlist">
      <div class="brands" [routerLink]="'./menu/'+shop.slug" *ngFor="let shop of shops">
        <img [src]="storageLink + shop.profileImage" alt="shop" *ngIf="shop.profileImage !== null && shop.profileImage !== ''"/>
        <img src="assets/imagefolder/favshops.png" alt="shop"  *ngIf="shop.profileImage === null || shop.profileImage === ''"/>
        <span>{{shop.title}}</span>
      </div>
  </div>
</div>
