<div class="orderstatusnavigation" *ngIf="data && data.shop && sharedService.bottomBadgeVisible.order">
  <div class="orderstatusnavigationfloat">
      <div class="statuspageleft">
        <img src="assets/imagefolder/resturantimg.jfif" *ngIf="data.shop.profileImage === null || data.shop.profileImage === ''" referrerpolicy="no-referrer"  alt="restaurant image" />
        <img [src]="storageUrl + data.shop.profileImage" *ngIf="data.shop.profileImage !== null && data.shop.profileImage !== ''" referrerpolicy="no-referrer"  alt="restaurant image" />
          <div class="statuspagedetail">
              <div class="shopname">{{data.shop.title}}</div>
              <div class="totalitems">
                  <span>{{data.products?.length}} Items</span>
                  <a routerLink="/order-page/{{data.orderId}}">&nbsp;&nbsp;Visit Order</a>
              </div>
          </div>
      </div>
      <div class="statuspageright">
        <div [class]="'orderstatusheading orderstausbadge ' + getStatus(data.status).class">{{getStatus(data.status).title}}</div>
        <div class="cancelbtn" (click)="sharedService.bottomBadgeVisible.order = 0"><img src="assets/imagefolder/cancel.png" alt=""></div>
      </div>
  </div>
</div>
