<div class="orderstatusnavigation">
  <div class="orderstatusnavigationfloat">
      <div class="statuspageleft">
          <img src="assets/imagefolder/readytoserve.png" alt="order status"/>
          <div class="statuspagedetail">
              <div class="shopname">Shop name</div>
              <div class="totalitems">
                  <span>3 Items</span>
                  <a href="#">&nbsp;&nbsp;Visit Order</a>
              </div>
          </div>
      </div>
      <div class="statuspageright">
          <div class="orderstatusheading">Order status</div>
          <div class="orderstausbadge">Ready to serve</div>
      </div>
  </div>
</div>
