.orderstatusnavigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.orderstatusnavigationfloat {
  position: fixed;
  bottom: 55px;
  background-color: #fffcf3;
  width: 100%;
  max-width: 490px;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(199, 193, 193);
  border-radius: 10px;
  padding: 10px 7px;
  box-shadow: 0px 0px 53px 9px rgba(0, 0, 0, 0.1);
}
.statuspageleft {
  display: flex;
  gap: 8px;
}
.statuspageleft img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.statuspagedetail .shopname {
  font-size: 14px;
  font-weight: 500;
  width: 130px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.statuspagedetail .totalitems span {
  font-size: 12px;
  color: #9b9b9b;
  padding-right: 5px;
  border-right: 2px solid #9b9b9b;
}
.totalitems a {
  font-size: 12px;
  text-decoration: none;
  color: #000000;
}
.statuspageright {
  display: flex;
  align-items: center;
  gap: 15px;
}
.cancelbtn img {
  height: 18px;
  width: 18px;
}
.cancelbtn {
  position: relative;
  top: -3px;
}
.statuspageright .orderstatusheading {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.statuspageright .orderstausbadge {
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 10px;
  margin: 5px 0px;
}
