:root{
  --white:#FFFFFF;
  --yellow:#FEB300;
  --gold: #FC9C67;
  --red:#FA5457;
  --lightred:#FA5656;
  --lightgreen:#47B214;
  --darkgreen:#47B314;
  --lightwhite:#FFFCF3;
  --colortext:#15597E;
  --secondtextcolor:#000000;
}
