:root{
  --secondarytextcolor:var(--secondtextcolor);
  --primarytextcolor:var(--colortext);
  --primarycolor:var(--white);
  --secondarycolor:var(--lightwhite);
  --ternarycolor:var(--gold);
  --lightsecondarybtncolor:var(--lightgreen);
  --lightprimarybtncolor:var(--lightred);
  --primarybtncolor:var(--red);
  --secondarybtncolor:var(--darkgreen);
  --ternarybtncolor:var(--yellow);
}
