.scannerpage{
  width: 100%;
  /* height: 100vh; */
  background-color: #000;
}
.wrapper{
  padding: 0px !important;
}
.scannerpart{
  width: 100%;
  color:#fff;
  height:600px;
  padding-top: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.scannerpageheading .heading{
  color: #fff;
  font-size:20px;
  font-weight: 600;
  padding-right:30px;
}
.scannerpageheading span i{
  font-size: 18px;
}
.scannercamera{
  width: 250px;
  height:250px;
  margin-top:30px;
  border-radius:12px;
  border: 3px solid rgba(252, 156, 103, 0.50);
  background: linear-gradient(180deg, rgba(252, 156, 103, 0.50) 0%, #363634 45.31%, #000 100%);

  ::ng-deep{
    .origin-video{
      height:243px !important;
    }
  }
}
.subheading{
  padding-top:15px;
  color: rgba(252, 156, 103, 0.50);
  font-size: 15px;
  font-weight: 400;
  width:80%;
  color: #ffffff;
  select{
    padding: 10px;
    background-color: #000;
    color: #ffffff;
    border: 1px soild #fff;
  }
}

.scannerheaderpart{
  display: flex;
  align-items: center;
  justify-content: center;
}
.scannerbottompage{
  position: fixed;
  bottom:0px;
  width: 100%;
  max-width: 556px;
  border-radius:5px 10px 0px 0px;
  background:#fff;
  padding: 10px 0px;
}
.scannersearcharea{
  width: 100%;
  padding:15px 10px 50px 10px;
}
.scannerpagesearchbox input{
  width: 100%;
  height:50px;
  background-color: #fff;
  border-radius:10px;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  border:2px solid #FC9C67;
  outline: none;
}
.scannerpageheading h1{
  color: #000;
  font-size:18px;
  font-weight: 600;
  margin: 15px 0px;
}
.recentshoplist{
  width:100%;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  gap:15px;
}
.recentshop img{
  width:80px;
  height:80px;
  border-radius:50%;
  object-fit: cover;
  margin-bottom: 10px;
}
.recentshop h3{
  color: #000;
  font-size:14px;
  font-weight:500;
  text-align: center;
}
.recentshop{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shopname{
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}