<div class="Favoriteshop">
    <div class="favoriteshop-header">
        <div class="heading">
            <h1>Favorite shop</h1>
        </div>
        <div class="favoritebtn">
            <a href="#" class="seemorebtn">View more</a>
        </div>
    </div>
    <div class="favoritelist">
        <div class="shops">
            <img src="assets/imagefolder/resturantimg.jfif" alt="shop" width="35px">
            <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, quisquam?</span>
        </div>
        <div class="shops">
            <img src="assets/imagefolder/resturantimg.jfif" alt="shop" width="35px">
            <span>Shop name</span>
        </div>
        <div class="shops">
            <img src="assets/imagefolder/resturantimg.jfif" alt="shop" width="35px">
            <span>Shop name</span>
        </div>
        <div class="shops">
            <img src="assets/imagefolder/resturantimg.jfif" alt="shop" width="35px">
            <span>Shop name</span>
        </div>
        <div class="shops">
            <img src="assets/imagefolder/resturantimg.jfif" alt="shop" width="35px">
            <span>Shop name</span>
        </div>
        <div class="shops">
            <img src="assets/imagefolder/resturantimg.jfif" alt="shop" width="35px">
            <span>Shop name</span>
        </div>
    </div>
</div>
