.homepageheader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    .location{
        .locationvalue,.locationarea{
            font-weight: 600;
            font-size: 15px;
            color: #fc9c6780;
            padding-left: 10px;
            width: 170px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        img{
            width: 20px;
            height:25px;
            object-fit: contain;
        }
        .location{
            font-weight: 600;
            font-size: 15px;
            color: #000000;
            // margin-right: 5px;
        }
        .locationarea{
            font-weight: 600;
            font-size: 15px;
            color: #fc9c6780;
            width: 170px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
}
    .headerrightside{
        display: flex;
        align-items: center;
        gap:20px;
        padding-right: 10px;
        span{
            i{
                font-size:25px;
            }
        }
    }
}