.homepageheader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    .location{
        display: flex;
        align-items: center;
        .locationvalue{
            font-weight: 600;
            font-size: 15px;
            color: rgba(252, 156, 103, 0.5);
            padding-left: 10px;
            width: 170px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
}
    .headerrightside{
        display: flex;
        align-items: center;
        gap:20px;
        padding-right: 10px;
        span{
            i{
                font-size:25px;
            }
        }
    }
}