<div class="resturantlist">
    <div class="listheading">All Restaurants</div>
    <div class="lists">
        <div class="list">
            <div class="resturantimage">
                <img src="assets/imagefolder/resturantimg.jfif" width=""/>
            </div>
            <div class="resturantdetails">
                <div class="shopname">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis minus, alias repudiandae libero porro sequi accusantium deserunt molestias voluptatibus autem.</div>
                <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, velit.</div>
                <div class="rating">
                    <span>⭐</span>
                    <span class="ratingvalue">4.5</span>
                </div>
                <div>
                    Pre-order available
                </div>
            </div>
        </div>
        <div class="list">
            <div class="resturantimage">
                <img src="assets/imagefolder/resturantimg.jfif" width=""/>
            </div>
            <div class="resturantdetails">
                <div class="shopname">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis minus, alias repudiandae libero porro sequi accusantium deserunt molestias voluptatibus autem.</div>
                <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, velit.</div>
                <div class="rating">
                    <span>⭐</span>
                    <span class="ratingvalue">4.5</span>
                </div>
                <div>
                    Pre-order available
                </div>
            </div>
        </div>
        <div class="list">
            <div class="resturantimage">
                <img src="assets/imagefolder/resturantimg.jfif" width=""/>
            </div>
            <div class="resturantdetails">
                <div class="shopname">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis minus, alias repudiandae libero porro sequi accusantium deserunt molestias voluptatibus autem.</div>
                <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, velit.</div>
                <div class="rating">
                    <span>⭐</span>
                    <span class="ratingvalue">4.5</span>
                </div>
                <div>
                    Pre-order available
                </div>
            </div>
        </div>
        <div class="list">
            <div class="resturantimage">
                <img src="assets/imagefolder/resturantimg.jfif" width=""/>
            </div>
            <div class="resturantdetails">
                <div class="shopname">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis minus, alias repudiandae libero porro sequi accusantium deserunt molestias voluptatibus autem.</div>
                <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, velit.</div>
                <div class="rating">
                    <span>⭐</span>
                    <span class="ratingvalue">4.5</span>
                </div>
                <div>
                    Pre-order available
                </div>
            </div>
        </div>
        <div class="list">
            <div class="resturantimage">
                <img src="assets/imagefolder/resturantimg.jfif" width=""/>
            </div>
            <div class="resturantdetails">
                <div class="shopname">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis minus, alias repudiandae libero porro sequi accusantium deserunt molestias voluptatibus autem.</div>
                <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, velit.</div>
                <div class="rating">
                    <span>⭐</span>
                    <span class="ratingvalue">4.5</span>
                </div>
                <div>
                    Pre-order available
                </div>
            </div>
        </div>
        <div class="list">
            <div class="resturantimage">
                <img src="assets/imagefolder/resturantimg.jfif" width=""/>
            </div>
            <div class="resturantdetails">
                <div class="shopname">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis minus, alias repudiandae libero porro sequi accusantium deserunt molestias voluptatibus autem.</div>
                <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, velit.</div>
                <div class="rating">
                    <span>⭐</span>
                    <span class="ratingvalue">4.5</span>
                </div>
                <div>
                    Pre-order available
                </div>
            </div>
        </div>
        <div class="list">
            <div class="resturantimage">
                <img src="assets/imagefolder/resturantimg.jfif" width=""/>
            </div>
            <div class="resturantdetails">
                <div class="shopname">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis minus, alias repudiandae libero porro sequi accusantium deserunt molestias voluptatibus autem.</div>
                <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, velit.</div>
                <div class="rating">
                    <span>⭐</span>
                    <span class="ratingvalue">4.5</span>
                </div>
                <div>
                    Pre-order available
                </div>
            </div>
        </div>
    </div>
</div>
