<div class="resturantlist">
    <div class="listheading">All Restaurants</div>
    <div class="lists" infinite-scroll
    [infiniteScrollDistance]="1"
    [scrollWindow]="false"
    (scrolled)="paginate( page + 1)">
        <div class="list" *ngFor="let shop of shops" [routerLink]="'/menu/' + shop.slug">
            <div class="resturantimage">
              <img [src]="storageLink + shop.profileImage" alt="shop" *ngIf="shop.profileImage !== null && shop.profileImage !== ''"/>
              <img src="assets/imagefolder/favshops.png" alt="shop"  *ngIf="shop.profileImage === null || shop.profileImage === ''"/>
            </div>
            <div class="resturantdetails">
                <div class="shopname">{{shop.title}}</div>
                <div class="description">{{shop.category?.name}}</div>
                <div class="rating">
                    <span>⭐</span>
                    <span class="ratingvalue">4.5</span>
                </div>
                <div class="shopaddress"*ngIf="shop.address && shop.address.length > 0">
                    {{ shop.address[0].addressLine }}, {{ shop.address[0].landmark }}, {{ shop.address[0].city }}
                </div>
            </div>
        </div>
    </div>
</div>
