<div class="centering">
  <div class="wrapper">
    <div class="mainpage">
      <div class="itemlistingpage">
        <div class="itemlisting" *ngIf="shops">
          <menu-filter
            [type]="0"
            [catId]="catId"
            [shop]="shops"
            (newItemEvent)="updateCat($event)"
          ></menu-filter>
          <!-- <menu-item *ngIf="items" [shop]="shops" [menu]="items"></menu-item> -->
          <h2>Recommended for you</h2>

          <div class="food-list">
            <div class="food-item">
              <div class="food-details">
                <div class="title-section">
                  <span class="veg-icon">
                    <img
                      src="assets/imagefolder/veg.png"
                      class="categoryimg1"
                      alt="veg"
                      width="20px"
                      height="20px"
                    />
                    <!-- <img
                      src="assets/imagefolder/non-veg.png"
                      class="categoryimg2"
                      alt="veg"
                      width="20px"
                      height="20px"
                    />
                    <img
                      src="assets/imagefolder/egg.png"
                      class="categoryimg3"
                      alt="veg"
                      width="20px"
                      height="20px"
                    /> -->
                    <span class="itemname"> Peri Peri Paneer Pizza </span>
                  </span>
                </div>
                <div class="rating">⭐⭐⭐⭐⭐</div>
                <p class="price">₹199</p>
                <p class="description">
                  Cheese and corn pizza & bite into cheesy delight of golden
                  corn & gooey mozzarella cheese.
                </p>
              </div>
              <div class="image-container">
                <img src="assets\imagefolder\sliderimage1.png" alt="Pizza" />
                <div class="addtofavorite">
                  <!-- <i class="far fa-heart"></i> -->
                  <i class="fas fa-heart"></i>
                </div>
                <button class="add-btn">ADD +</button>
              </div>
            </div>

            <div class="food-item">
              <div class="food-details">
                <div class="title-section">
                  <span class="veg-icon">
                    <!-- <img
                      src="assets/imagefolder/veg.png"
                      class="categoryimg1"
                      alt="veg"
                      width="20px"
                      height="20px"
                    /> -->
                    <img
                      src="assets/imagefolder/non-veg.png"
                      class="categoryimg2"
                      alt="veg"
                      width="20px"
                      height="20px"
                    />
                    <!-- <img
                      src="assets/imagefolder/egg.png"
                      class="categoryimg3"
                      alt="veg"
                      width="20px"
                      height="20px"
                    /> -->
                    <span class="itemname"> Non Veg Paneer Pizza </span>
                  </span>
                </div>
                <div class="rating">⭐⭐⭐⭐⭐</div>
                <p class="price">₹199</p>
                <p class="description">
                  Cheese and corn pizza & bite into cheesy delight of golden
                  corn & gooey mozzarella cheese. Cheese and corn pizza & bite
                  into cheesy delight of golden corn & gooey mozzarella cheese.
                </p>
              </div>
              <div class="image-container">
                <img src="assets\imagefolder\sliderimage1.png" alt="Pizza" />
                <div class="addtofavorite">
                  <!-- <i class="far fa-heart"></i> -->
                  <i class="fas fa-heart"></i>
                </div>
                <div class="add-btn-change">
                  <span>
                    <button class="decremental">
                      <i class="fa-solid fa-minus"></i>
                    </button>
                  </span>
                  <span class="itemcount">
                    {{ 1 }}
                  </span>
                  <span>
                    <button class="incremental">
                      <i class="fa-solid fa-plus"></i>
                    </button>
                  </span>
                </div>
              </div>
            </div>

            <div class="food-item">
              <div class="food-details">
                <div class="title-section">
                  <span class="veg-icon">
                    <!-- <img
                      src="assets/imagefolder/veg.png"
                      class="categoryimg1"
                      alt="veg"
                      width="20px"
                      height="20px"
                    /> -->
                    <!-- <img
                      src="assets/imagefolder/non-veg.png"
                      class="categoryimg2"
                      alt="veg"
                      width="20px"
                      height="20px"
                    /> -->
                    <img
                      src="assets/imagefolder/egg.png"
                      class="categoryimg3"
                      alt="veg"
                      width="20px"
                      height="20px"
                    />
                    <span class="itemname"> Egg with Paneer Pizza </span>
                  </span>
                </div>
                <div class="rating">⭐⭐⭐⭐⭐</div>
                <p class="price">₹199</p>
                <p class="description">
                  Cheese and corn pizza & bite into cheesy delight of golden
                  corn & gooey mozzarella cheese.
                </p>
              </div>
              <div class="image-container">
                <img src="assets\imagefolder\sliderimage1.png" alt="Pizza" />
                <div class="addtofavorite">
                  <!-- <i class="far fa-heart"></i> -->
                  <i class="fas fa-heart"></i>
                </div>
                <button class="add-btn">ADD +</button>
              </div>
            </div>
          </div>
        </div>
        <!-- <app-footer></app-footer> -->
        <!-- <bottom-nav></bottom-nav> -->
      </div>
    </div>
  </div>
</div>
