<div class="recommendedcomponent">
    <div class="headingsection">
        <div class="recommendheading">Recommended</div>
        <div class="seeallbtn">View more</div>
    </div>

    <div class="recommendedsection">
        <div class="recommendedcard">
            <div class="favouritelogo"><img src="favourite.png" alt=""></div>
            <div class="recommendedimage">
                <img src="assets/imagefolder/resturantimg.jfif" alt="">
            </div>
            <div class="recommendeditemdetail">
                <div class="itemname">Fruit salad mix</div>
                <div class="itemdescription">Delics Fruit salad, Ngasem</div>
                <div class="pricingsection">
                    <div><span class="effectiveprice">&#8377; <span> 149.00</span></span></div>
                    <div class="itemsleft">Add</div>
                </div>
            </div>
        </div>

        <div class="recommendedcard">
            <div class="favouritelogo"><img src="favourite.png" alt=""></div>
            <div class="recommendedimage">
                <img src="assets/imagefolder/resturantimg.jfif" alt="">
            </div>
            <div class="recommendeditemdetail">
                <div class="itemname">Fruit salad mix</div>
                <div class="itemdescription">Delics Fruit salad, Ngasem</div>
                <div class="pricingsection">
                    <div><span class="effectiveprice">&#8377; <span> 149.00</span></span></div>
                    <div class="itemsleft">Add</div>
                </div>
            </div>
        </div>

        <div class="recommendedcard">
            <div class="favouritelogo"><img src="favourite.png" alt=""></div>
            <div class="recommendedimage">
                <img src="assets/imagefolder/resturantimg.jfif" alt="">
            </div>
            <div class="recommendeditemdetail">
                <div class="itemname">Fruit salad mix</div>
                <div class="itemdescription">Delics Fruit salad, Ngasem</div>
                <div class="pricingsection">
                    <div><span class="effectiveprice">&#8377; <span> 149.00</span></span></div>
                    <div class="itemsleft">Add</div>
                </div>
            </div>
        </div>
    </div>
</div>