<div class="recommendedcomponent">
    <div class="headingsection">
        <div class="recommendheading">Recommended</div>
        <!-- <div class="seeallbtn">View more</div> -->
    </div>

    <div class="recommendedsection">
        <div class="recommendedcard" *ngFor="let item of itemLists">
            <div class="ab">
                <div class="favouritelogo" *ngIf="sharedService.user && sharedService.user.id !== 0">
                    <span>
                      <i *ngIf="!commonService.checkFav(1,item.item.id)" class="far fa-heart" (click)="commonService.addToFav(1,item.item.id)"></i>
                      <i *ngIf="commonService.checkFav(1,item.item.id)" class="fas fa-heart" (click)="commonService.deleteFav(1,item.item.id)"></i>
                    </span>
                </div>
            </div>
            <div class="recommendedimage">
                <img [src]="storageUrl + item.item.image" alt="item" *ngIf="item.item.image !== null && item.item.image !== ''"/>
                <img src="assets/imagefolder/resturantimg.jfif" alt="item" *ngIf="item.item.image === null || item.item.image === ''"/>
            </div>
            <div class="recommendeditemdetail">
                <div class="itemname">{{item.item.name}}</div>
                <div class="itemdescription">{{item.item.category?.name}}</div>
                <div class="location">Civil Lines,Prayagraj</div>
                <div class="distanceandtime">
                    <div class="timerimg"><img src="assets/imagefolder/stopwatch.png" alt=""></div>
                    <div>25-30 min . </div>
                    <div>1 Km</div>
                </div>
                <div class="pricingsection">
                    <div><span class="effectiveprice"><span>{{item.item.price | currency: 'INR'}}</span></span></div>
                    <div class="itemsleft" *ngIf="!item.isSelected" (click)="addToCart(item.item.id)">
                      Add
                    </div>
                    <div class="itemnumbercounter" *ngIf="item.isSelected">
                      <span><button class="decremental" (click)="descQuanity(item.item.id)"><i class="fa-solid fa-minus"></i></button></span>
                      <span class="itemcount">
                          {{item.count}}
                      </span>
                      <span><button class="incremental" (click)="increaseQuanity(item.item.id)"><i class="fa-solid fa-plus"></i></button></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
