<div class="jobpagecontainer">
    <div class="languagechangesection">
        <div class="languagechange">
            <div>Language</div>
            <div>
                <select>
                    <option *ngFor="let lang of languages" [value]="lang.id">{{ lang.label }}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="logocontainer">
        <div class="lbalogo">
            <div>
                <img src="assets/imagefolder/logo.png" alt="">
            </div>
            <div>LET'S <span>BUNK</span> AGAIN</div>
        </div>
    </div>

    <div class="hiringtextcontainercover">
        <div class="hiringtextcontainer">
            <div class="hiringheading">We're Hiring!</div>
            <div class="hiringheading2">A PAN India opportunity for</div>
            <div class="hiringheading3">Field Sales Superheroes</div>
            <div class="hiringheading2">Opportunity to work directly on company payroll</div>
        </div>
    </div>

    <div class="eligibility">
        <div class="eligibility1">
            <div class="tickmark"><i class="fas fa-check"></i></div>
            <div class="eligibilitytext">Any Graduate/12th/10th Pass</div>
        </div>
        <div class="eligibility1">
            <div class="tickmark"><i class="fas fa-check"></i></div>
            <div class="eligibilitytext">Good Sales & Communication Skills</div>
        </div>
        <div class="eligibility1">
            <div class="tickmark"><i class="fas fa-check"></i></div>
            <div class="eligibilitytext">Owns an Android Smartphone</div>
        </div>
    </div>

    <div class="openningsheading">Current Opennings</div>

    <div class="openningoptions">
        <div>
            <select>
              <option *ngFor="let pro of profiles" [value]="pro.id">{{ pro.label }}</option>
            </select>
        </div>
        <div>
            <select>
              <option *ngFor="let s of state" [value]="s.id">{{ s.label }}</option>
            </select>
        </div>
        <div>
            <textarea name="" id="" cols="30" rows="4" placeholder="Location"></textarea>
        </div>
    </div>

    <div class="lbaanddescription">
        <div>
            <div class="jobdescheading">Job Description</div>
            <div class="decriptiontext">
                It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                of letters, as opposed to using 'Content here, content here', making it look like readable English. Many
                desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a
                search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have
                evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            </div>

            <div class="applybtn">
                <button>Click here to Apply Now</button>
            </div>

            <div class="or">
                <div class="hr"></div>
                <div class="orr">OR</div>
            </div>

            <div class="scanheading">Scan to Apply</div>
            <div class="scanlogo">
                <img src="assets/imagefolder/scan.png" alt="">
            </div>
        </div>
        <div>
            <div class="whyLBAheading">Why Join LBA</div>
            <div class="decriptiontext">
                It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                of letters, as opposed to using 'Content here, content here', making it look like readable English. Many
                desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a
                search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have
                evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like). <br>
                It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                of letters, as opposed to using 'Content here, content here', making it look like readable English. Many
                desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a
                search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have
                evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            </div>
        </div>
    </div>
</div>
