<div class="termsandcondition">
  <div class="termsheader">
      <div class="header">
          <div class="companyname" routerLink="../../">
              <!-- <img src="assets/home/img/compantlogo.jpg" width="50px" height="50px" alt=""/> -->
              <span class="lets">Lets</span>
              <span class="bunk">Bunk</span>
              <span class="again">Again</span>
          </div>
          <button class="homebtn" routerLink="../../">Home</button>
      </div>
      <div class="heading">Terms & Conditions</div>
      <div class="subheading">
          <span>Please read our terms & conditions and know How Let's Bunk Again provide you best services</span>
      </div>
  </div>
  <div class="termscontentpage">
      <div class="aboutus">
          <div id="tabs">
            <ul class="" id="user-nav-tabs">
              <li role="presentation" class="active"><a href="./policies/terms-condition">Terms & Conditions</a></li>
              <li role="presentation"><a href="./policies/privacy-policy">Privacy Policy</a></li>
              <!-- <li role="presentation"><a>Vendor's Terms & Conditions</a></li> -->
              <li role="presentation"><a href="./policies/cancellation-refund">Cancellation & Refund Policy</a></li>
            </ul>
          </div>
          <div id="content">
              <div id="content1">
                      <p class="contentheading">Terms & Conditions</p>
                      <p>Last updated on Nov 28th 2022</p>
                      <div class="contentvalue">
                        The Website Owner, including subsidiaries and affiliates (“Website” or “Website Owner” or “we” or “us” or “our”) provides the information contained on the website or any of the pages comprising the website (“website”) to visitors (“visitors”) (cumulatively referred to as “you” or “your” hereinafter) subject to the terms and conditions set out in these website terms and conditions, the privacy policy and any other relevant terms and conditions, policies and notices which may be applicable to a specific section or module of the website.
                      </div>
                      <div class="contentvalue">
                        Welcome to our website. If you continue to browse and use this website you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern EDGE MATRIX TECHNOLOGIES PRIVATE LIMITED''s relationship with you in relation to this website.
                      </div>
                      <div class="contentvalue">
                        The term 'EDGE MATRIX TECHNOLOGIES PRIVATE LIMITED' or 'us' or 'we' refers to the owner of the website whose registered/operational office is B-2/138 Jankipuram F Lucknow UTTAR PRADESH 226021. The term 'you' refers to the user or viewer of our website.
                      </div>
                      <p class="contentheading">The use of this website is subject to the following terms of use:</p>
                      <div class="contentvalue">
                        The content of the pages of this website is for your general information and use only. It is subject to change without notice.
                      </div>
                      <div class="contentvalue">
                        Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.
                      </div>
                      <div class="contentvalue">
                        Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.
                      </div>
                      <div class="contentvalue">
                        This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.
                      </div>
                      <div class="contentvalue">
                        All trademarks reproduced in this website which are not the property of, or licensed to, the operator are acknowledged on the website.
                      </div>
                      <div class="contentvalue">
                        Unauthorized use of this website may give rise to a claim for damages and/or be a criminal offense.
                      </div>
                      <div class="contentvalue">
                        From time to time this website may also include links to other websites. These links are provided for your convenience to provide further information.
                      </div>
                      <div class="contentvalue">
                        You may not create a link to this website from another website or document without EDGE MATRIX TECHNOLOGIES PRIVATE LIMITED’s prior written consent.
                      </div>
                      <div class="contentvalue">
                        Your use of this website and any dispute arising out of such use of the website is subject to the laws of India or other regulatory authority.
                      </div>
                      <div class="contentvalue">
                        We as a merchant shall be under no liability whatsoever in respect of any loss or damage arising directly or indirectly out of the decline of authorization for any Transaction, on Account of the Cardholder having exceeded the preset limit mutually agreed by us with our acquiring bank from time to time
                      </div>
              </div>
          </div>
          </div>
  </div>
</div>
<app-footer [show]="false"></app-footer>
<bottom-nav></bottom-nav>
