<div class="stepofonboarding">
    <div class="stepper">
      <img src="https://letsbunkagain.com/assets/icons/onboard/shopdetails.png"/>
    </div>
    <div class="stepper">
      <img src="https://letsbunkagain.com/assets/icons/onboard/location.png"/>
    </div>
    <div class="stepper">
      <img src="https://letsbunkagain.com/assets/icons/onboard/shopuserdetails.png"/>
    </div>
    <div class="stepper">
      <img src="https://letsbunkagain.com/assets/icons/onboard/shopdetails.png"/>
    </div>
    <div class="stepper">
      <img src="	https://letsbunkagain.com/assets/icons/onboard/timing.png"/>
    </div>
    <div class="stepper">
      <img src="https://letsbunkagain.com/assets/icons/onboard/legaldetails.png"/>
    </div>
</div>
<div class="onboarding-page">
  <div class="center">
    <div class="shop-detail-page paddings">
      <p>Shop basic detail</p>
      <div class="take-input">
        <div class="subheading">Shop Name</div>
        <input type="text" placeholder="Enter shop name"/>
      </div>
      <label for="fileInput" class="custom-file-input">
        <div class="addimage">
          <img src= "https://letsbunkagain.com/assets/icons/onboard/uploadfile.png" width="50px" height="50px"/>
          <span><br>Click to add an image</span>
          <input type="file" id="fileInput" hidden />
        </div>
      </label>
      <div class="shop-type">
        <label for="shop-type" class="subheading">Type of shop</label><br>
        <select id="shop-type" name="shop-type">
          <option value="Cafe">Cafe</option>
          <option value="Restaurant">Restaurant</option>
          <option value="Hotel">Hotel</option>
        </select>
      </div>      
      <div class="take-input">
        <div class="subheading">About shop</div>
        <textarea placeholder="Enter the address"></textarea>
      </div>
      <div class="buttons">
        <button>Next</button>
      </div>
    </div>
    <!-- <div class="shop-location-page paddings">
      <p>Shop location detail</p>
      <div class="take-input">
        <div class="subheading">Shop Complete Address</div>
        <input type="text" placeholder="Enter address"/>
      </div>
      <div class="take-input">
        <div class="subheading">Any nearby landmark</div>
        <input type="text" placeholder="Enter landmark"/>
      </div>
      <div class="take-input">
        <div class="subheading">City name</div>
        <input type="text" placeholder="Enter city"/>
      </div>
      <div class="take-input">
        <div class="subheading">Pincode</div>
        <input type="text" placeholder="Enter Pincode"/>
      </div>
      <div class="take-input">
        <div class="subheading">Latitude</div>
        <input type="number" placeholder="Enter latitude"/>
      </div>
      <div class="take-input">
        <div class="subheading">Longitude</div>
        <input type="number" placeholder="Enter longitude"/>
      </div>    
      <div class="buttons firstbutton">
        <button>Next</button>
      </div>
      <div class="buttons">
        <button>Back</button>
      </div>
    </div> -->
    <!-- <div class="shop-owner-page paddings">
        <p>Shop Owner detail</p>
        <div class="take-input">
          <div class="subheading">Shop Owner name</div>
          <input type="text" placeholder="Enter name"/>
        </div>
        <div class="take-input">
          <div class="subheading">Owner Phone Number</div>
          <input type="number" placeholder="Enter phone number"/>
        </div>
        <div class="take-input">
          <div class="subheading">Password</div>
          <input type="text" placeholder="Enter password"/>
        </div>
      <div class="buttons firstbutton">
        <button>Next</button>
      </div>
      <div class="buttons">
        <button>Back</button>
      </div>
    </div> -->
    <!-- <div class="shop-bank-page paddings">
      <p>Owner / shop Bank detail</p>
      <div class="note">यह बैंक विवरण सभी ऑनलाइन राशि हस्तांतरित करने के लिए उपयोग किया जाएगा और यह केवल तभी लागू होगा जब आप अभी भुगतान करें विकल्प से सहमत हों</div>
      <div class="checkboxes">
        <div class="paymentoption">
          <input type="checkbox" name="paynow" value="paynow" checked/>
          <span>Pay now</span>
        </div>
        <div class="paymentoption">
          <input type="checkbox" name="payatshop" value="payatshop" checked/>
          <span>Pay at counter</span>
        </div>
      </div>
      <div class="take-input">
        <div class="subheading">Bank Name</div>
        <input type="text" placeholder="Enter Bank name"/>
      </div>
      <div class="take-input">
        <div class="subheading">Account Number</div>
        <input type="number" placeholder="Enter account number"/>
      </div>
      <div class="take-input">
        <div class="subheading">IFSC Code</div>
        <input type="number" placeholder="Enter IFSC code"/>
      </div>
      <div class="take-input">
        <div class="subheading">Account holder name</div>
        <input type="email" placeholder="Enter name"/>
      </div>
      <div class="take-input">
        <div class="subheading">Enter UPI for Fast Payment</div>
        <input type="text" placeholder="Enter UPI Id"/>
      </div>
    <div class="buttons firstbutton">
      <button>Next</button>
    </div>
    <div class="buttons">
      <button>Back</button>
    </div>
  </div> -->
    <!-- <div class="shop-timing-page paddings">
      <p>Shop opening time detail</p>
      <div class="note">Note : Write Timing as 13:00 for 1 pm</div>
      <div class="take-input">
        <div class="subheading">Opening time</div>
        <input type="text" placeholder="Enter opening time"/>
      </div>
      <div class="take-input">
        <div class="subheading">Closing time</div>
        <input type="text" placeholder="Enter closing time"/>
      </div>
      <div class="buttons firstbutton">
        <button>Next</button>
      </div>
      <div class="buttons">
        <button>Back</button>
      </div>
    </div> -->
    <!-- <div class="shop-QR-page paddings">
      <p>Shop QR detail</p>
      <div class="take-input">
        <div class="subheading">Enter QR number</div>
        <input type="number" placeholder="Enter QR number"/>
      </div>
      <div class="buttons">
        <button>Add QR</button>
      </div>
      <div class="qrdetails">
        <div class="qrnumber">161452145</div>
        <div><i class="fa-solid fa-trash"></i></div>
      </div>
      <div class="qrdetails">
        <div class="qrnumber">161452145</div>
        <div><i class="fa-solid fa-trash"></i></div>
      </div>
      <div class="buttons firstbutton">
        <button>Next</button>
      </div>
      <div class="buttons">
        <button>Back</button>
      </div>
    </div> -->
    <!-- <div class="sucesspage paddings">
      <div>Thank you your shop has been created please use your Phone number and password to login to your Shop panel</div>
    </div> -->
  </div>
</div>
