.menupaheheader{
    .headerheading{
        h1{
            font-size: 20px;
            font-weight: 600;
            text-align: center;
        }
    }
}
.productsoption{
    display: flex;
    width: 100%;
    .allproducts{
        width: 50%;
        margin-bottom: 10px;
        button{
            width: 100%;
            background: #FFFCF3;
            border-radius: 10px 0px 0px 10px;
            border: none;
            padding: 18px 0px;
            color: #FC9C67;
        }
    }
    .deliveryproducts{
        width: 50%;
        button{
            width: 100%;
            background: #FFFCF3;
            border-radius: 0px 10px 10px 0px;
            border: none;
            padding: 18px 0px;
            color: #FC9C67;
        }
    }
}
.active{
    background: #FC9C67 !important;
    color: #FFFFFF !important;
}
.menufilter{
    display: flex;
    width: 100%;
    align-items: center;
    gap:15px;
    overflow-x: auto;
    overflow-y: hidden;
    .menuoptionimage{
        img{
            width:80px;
            height:80px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    .menuoptionvalue{
        h1{
            text-align:center;
            padding:7px 0px;
            font-weight:500;
            font-size:16px;
            color: #000000;
            white-space:nowrap;
        }
    }
}