.upperpartofitemlist h1 {
  font-size: 18px;
  font-weight: 600;
  // padding-top: 15px;
}
.itempageinput input::placeholder {
  color: #fc9c67;
  font-size: 15px;
}
.shopdetials {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shopleft {
  display: flex;
  align-items: center;
}
.shopleft span {
  margin-right: 10px;
  i {
    font-size: 20px;
  }
}
.veg-label {
  background: linear-gradient(to right, #a9ffad, #ffffff);
  color: #03ae0a;
  font-size: 12px;
  padding: 1px 5px;
  border-radius: 10px;
}
.non-veg-label {
  background: linear-gradient(to right, #eb363693, #ffffff);
  color: #c82d18;
  font-size: 12px;
  padding: 1px 5px;
  border-radius: 10px;
}
.backbtn {
  margin-bottom: 35px;
}
.shopname {
  font-size: 20px;
  font-weight: 500;
  width: 175px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.shopaddress {
  text-transform: capitalize;
  font-size: 11px;
  font-weight: 400;
  width: 240px;
  color: #7f7f7f;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  // -webkit-line-clamp: 2;
  -moz-box-lines: multiple;
}
.vistshopbutton button {
  border: none;
  border-radius: 5px;
  background: #fc9c67;
  padding: 5px 7px;
  margin-bottom: 25px;
  color: #ffffff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2509803922);
}
.upperpartofitemlist .itempageinput input {
  height: 39px;
  border-radius: 10px;
  background: #fffcf3;
  padding: 0 10px;
  margin: 10px 0px 15px 0px;
  width: 100% !important;
  border: 1px solid rgba(252, 156, 103, 0.5);
  box-sizing: border-box;
  outline: none;
}
// .search-fields {
// display: flex;
// align-items: center;
// }
.arrow {
  position: relative;
  top: -45px;
  float: right;
  right: -18px;
}
.itemcategorylist {
  display: flex;
  gap: 10px;
  align-items: center;
  overflow-y: hidden !important;
  overflow-x: auto !important;
}
.filter-buttons {
  display: flex;
  // gap: 19px;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.filter-btn {
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.category {
  text-align: center;
  width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
}
.category img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  object-fit: cover;
  border: 1px solid black;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.1);
  margin: 5px;
}

.category h1 {
  font-size: 16px !important;
  font-weight: 600;
  text-align: center !important;
  padding-top: 5px !important;
}
.arrow i {
  position: relative;
  right: 25px;
  top: -3px;
}

.categoryname {
  width: 45px !important;
  white-space: nowrap;
  overflow: hidden;
}

.itemcategorylistout {
  padding: 0px 21px;
  position: relative;
}

.slidebutton {
  border-radius: 50%;
  padding: 4px 2px;
  border: 1px solid #000000;
  background-color: #fffcf3;
  font-weight: bold;
  cursor: pointer;
  z-index: 10;
}

.left-button,
.right-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fffcf3;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-behavior: smooth;
}

.left-button {
  left: 0;
  top: 50px;
}

.right-button {
  right: 0;
  top: 50px;
}

@media (max-width: 415px) {
  .filter-buttons {
    gap: 5px;
    margin-bottom: 25px;
  }

  .dropdown {
    padding: 3px;
  }

  .filter-btn {
    padding: 10px 3px;
    font-size: 11px;
    font-weight: 600;
  }

  .slidebutton {
    padding: 0px 5px 2px 5px;
  }

  .left-button {
    top: 31px;
  }

  .right-button {
    top: 31px;
  }
}
