<div class="upperpartofitemlist">
  <div class="header-container">
    <!-- Back Button & Label -->
    <div class="top-bar">
      <span (click)="sharedService.back()"
        ><i class="fa-solid fa-arrow-left"></i
      ></span>
      <span class="veg-label">✅ Pure Veg</span>
    </div>

    <!-- Restaurant Info -->
    <h2>Mirch Masala</h2>
    <p class="restaurant-info">
      ⏳ 44 mins 🚴 4.5Km <i class="fas fa-map-marker-alt"></i> xyz, Lucknow
    </p>
    <p class="delivery-info">🚴 Free Delivery above ₹199</p>

    <!-- Search Bar -->
    <div class="search-container">
      <span (click)="sharedService.back()"><i class="fas fa-search"></i></span>
      <input type="text" placeholder="Search your cuisine.." />
    </div>

    <!-- Filter Buttons -->
    <div class="filter-buttons">
      <select class="dropdown">
        <option>🔧 Sort</option>
        <option>Price: Low to High</option>
        <option>Price: High to Low</option>
        <option>Rating</option>
      </select>
      <button class="filter-btn">🍩 Sweets</button>
      <button class="filter-btn">🏆 Bestseller</button>
      <button class="filter-btn">⭐ Rated 4+</button>
    </div>
  </div>
  <div class="itemcategorylist">
    <div
      class="category"
      *ngFor="let cat of categories"
      [title]="cat.data.name"
      (click)="updateCategory(cat.data.id)"
    >
      <img
        src="assets/icons/all.png"
        *ngIf="cat.data.image === null || cat.data.image === ''"
        referrerpolicy="no-referrer"
        [alt]="cat.data.name"
      />
      <img
        [src]="storageUrl + cat.data.image"
        *ngIf="cat.data.image !== null && cat.data.image !== ''"
        referrerpolicy="no-referrer"
        [alt]="cat.data.name"
      />
      <span class="categoryname">{{ cat.data.name }}</span>
    </div>
  </div>
</div>
