.errorpage{
  width: 100%;
}
.errorsection{
  text-align: center;
  padding: 20px;
}
.errorimg img{
  height: 250px;
  width: 250px;
}
.errortext{
  color: #000000;
  font-size: 64px;
  font-weight: 600;
}
.errorreason{
  color: #00000080;
  font-size: 15px;
  font-weight: 600;
  margin: 40px 0px 30px 0px;
}
.homebtn button{
  color: #FC9C67;
  font-size: 15px;
  font-weight: 600;
  outline: none;
  border: none;
  background-color: #FFFFFF;
  cursor: pointer;
}
