// Abstract
@import "./abstract/colors";
@import "./abstract/variables";

// Components
@import "./components/badge";
@import "./components/button";

@import "./common/base";

app-root{
    width: 100% !important;
}
$scrollbar-width: 0; // Set the width of the scrollbar to 0

// Hide vertical scrollbar
div {
  &::-webkit-scrollbar {
    width: $scrollbar-width;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb:vertical {
    display: none;
  }
}
