.mainpage{
  padding: 20px 10px 0px 10px;
}
.desktop{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 500px;
  margin: auto;
  zoom:80%;
  height: 100% !important;
  box-shadow: 1px 1px 9px 0px rgba(0,0,0,0.3);
}