<div class="filteroptions">
    <div class="filteroption active">
        <span>sort</span>
        <!-- <img src=""/> -->
    </div>
    <div class="filteroption">
        <span>Filter</span>
        <!-- <img src=""/> -->
    </div>
    <div class="filteroption">
        <span>Previously ordered</span>
        <!-- <img src=""/> -->
    </div>
    <div class="filteroption">
        <span>New on LBA</span>
        <!-- <img src=""/> -->
    </div>
    <div class="filteroption">
        <span>Most Order</span>
        <!-- <img src=""/> -->
    </div>
</div>
