<div class="filteroptions">
    <div class="filteroption active">
        <span>sort</span>&nbsp;&nbsp;
        <i class="fas fa-filter"></i>
        <!-- <img src=""/> -->
    </div>
    <div class="filteroption">
        <span>Filter</span>&nbsp;&nbsp;
        <i class="fas fa-filter"></i>
        <!-- <img src=""/> -->
    </div>
    <div class="filteroption">
        <span>Previously ordered</span>&nbsp;&nbsp;
        <i class="fas fa-filter"></i>
        <!-- <img src=""/> -->
    </div>
    <div class="filteroption">
        <span>New on LBA</span>&nbsp;&nbsp;
        <i class="fas fa-filter"></i>
        <!-- <img src=""/> -->
    </div>
    <div class="filteroption">
        <span>Most Order</span>&nbsp;&nbsp;
        <i class="fas fa-filter"></i>
        <!-- <img src=""/> -->
    </div>
</div>
