<!-- <div class="centering">
  <div class="wrapper">
    <div class="mainpage">
      <div class="login-top">Peri Peri Paneer Pizza</div>
      <div class="loginpageimage">
        <img src="assets/imagefolder/loginpage.png" alt="loginpageimage">
        <img
          src="assets\imagefolder\status\loginpage_img.png"
          alt="loginpageimage"
        />
      </div>
      <div class="loginpagecontain">
        <div></div>
        <div class="loginpageheader">
          <span class="yellow">Let's </span>
          <span class="blue">Bunk </span>
          <span class="yellow">Again</span>
        </div>
        <div>
          <span
            style="
              float: right;
              margin-bottom: 15px;
              color: rgb(165, 164, 164);
              font-size: 14px;
              cursor: pointer;
            "
            class="crossbtn"
            routerLink="/"
          >
            <i class="far fa-times-circle fa-2x"></i>
          </span>
        </div>
      </div>
      <div class="subheading">Your Personal Meetup App</div>
      <div class="option">
        <hr />
        <span class="or">Log in or sign up</span>
      </div>
      <div class="loginheading">Please Enter Your 10 Digit Mobile Number</div>
      <form
        [formGroup]="loginForm"
        (ngSubmit)="
          !isLoginWithOtp
            ? loginWithPassword()
            : sendingOTP
            ? sendOtp()
            : verifyOtp()
        "
      >
        <div class="inputbox">
          <input
            type="tel"
            placeholder="Enter Mobile Number (Don't use +91)"
            formControlName="username"
            [readOnly]="!sendingOTP"
          /><br />
          <div *ngIf="submitted && loginForm.invalid && f['username'].errors">
            <div *ngIf="f['username'].errors['required']" class="invalid-error">
              <p class="invalidmessage">Mobile Number is required</p>
            </div>
            <div *ngIf="f['username'].errors['pattern']" class="invalid-error">
              <p class="invalidmessage">
                Mobile Number must be valid and Upto 10 digits.
              </p>
            </div>
          </div>
        </div>
        <div class="otpbox" *ngIf="isLoginWithOtp">
          <div class="otpheading" *ngIf="!sendingOTP">Enter 4 digit OTP</div>
          <div class="otp" *ngIf="!sendingOTP" formGroupName="code">
            <input
              #formRow
              class="fillotp"
              type="number"
              pattern="[0-9]{1}"
              *ngFor="let t of [1, 2, 3, 4]; let i = index"
              [formControlName]="'input' + [t]"
              inputmode="numeric"
              maxlength="1"
              (keyup)="keyUpEvent($event, i)"
            />
          </div>
        </div>
        <div *ngIf="loginMessage !== ''" class="invalid-error">
          <p class="invalidmessage">{{ loginMessage }}</p>
        </div>
        <div class="verfiybtn">
          <button class="otpbtn" *ngIf="sendingOTP">Send OTP</button>
          <button class="otpbtn" *ngIf="!sendingOTP">Verify OTP</button>
        </div>
        <div class="otpoption" *ngIf="!sendingOTP">
          <div class="changenumber">
            <a class="resend" (click)="resendOtp()">Resend OTP</a>
            <a class="resend" (click)="sendingOTP = true">Change Number</a>
          </div>
        </div>
      </form>
      <div class="option">
        <hr />
        <span class="or">or</span>
      </div>
      <div (click)="signInWithGoogle()" class="loginwithgoogle">
        <a
          ><img
            src="https://static.vecteezy.com/system/resources/previews/010/353/285/original/colourful-google-logo-on-white-background-free-vector.jpg"
            style="
              width: 50px;
              height: 50px;
              border-radius: 50%;
              padding: 10px;
            "
        /></a>
        &nbsp;
        <span style="cursor: pointer">Login with Google</span>
      </div>
      <div class="additionalcontent">
        <span>By continuing, you agree to our</span>
        <p><a routerLink="../policies/privacy-policy">Privacy Policy</a></p>
      </div>
    </div>
  </div>
</div>
 -->

<!-- New Login -->

<div class="centering">
  <div class="container">
    <div class="header">
      <i class="fas fa-angle-left back-arrow" (click)="sharedService.back()"></i>
      <div>{{ shopName }}</div>
    </div>
    <div class="login-box" *ngIf="sendingOTP">
      <img src="assets\imagefolder\status\loginpage_img.png" alt="Login Illustration" class="login-image" />
      <div class="login-text">LOGIN</div>
      <br />
      <p class="instruction">
        <span class="text-1">Enter Your Mobile Number</span><br />we will send
        you a confirmation code
      </p>
      <form [formGroup]="loginForm" (ngSubmit)="sendOtp()">
        <label for="mobile">10 digit mobile number</label>
        <input
          type="tel"
          placeholder="Enter Mobile Number (Don't use +91)"
          formControlName="username"
          [readOnly]="!sendingOTP"
          id="mobile"
          maxlength="14"
        />
        <br />
        <div *ngIf="submitted && loginForm.invalid && f['username'].errors">
          <div *ngIf="f['username'].errors['required']" class="invalid-error">
            <p class="invalidmessage">Mobile Number is required</p>
          </div>
          <div *ngIf="f['username'].errors['pattern']" class="invalid-error">
            <p class="invalidmessage">
              Mobile Number must be valid and Upto 10 digits.
            </p>
          </div>
        </div>
        <button class="continue-btn">CONTINUE</button>
      </form>
      <hr />
      <span class="or">OR</span>
      <button class="google-login" (click)="signInWithGoogle()">Login with Google</button>
      <p class="terms">
        By clicking, I accept the <a routerLink="../policies/privacy-policy">Privacy Policy</a>
      </p>
    </div>

    <!-- New OTP Screen -->
     <div  *ngIf="!sendingOTP">
      <div class="verification-box">
        <div class="verification-text">
          <div class="veridet">VERIFY DETAILS</div>
          <p class="veridetotp">OTP sent to {{ f['username'].value }}</p>
        </div>
        <div class="verification-image">
          <img
            src="assets\imagefolder\otppage_img.png"
            alt="OTP Illustration"
            width="100"
          />
        </div>
      </div>
      <div class="otp-section">
        <div class="enterveri">Enter Verification code</div>
        <form [formGroup]="loginForm">
          <div class="otpbox" *ngIf="!sendingOTP" formGroupName="code">
            <div class="otp" >
              <input
                #formRow
                class="otp-input"
                type="number"
                pattern="[0-9]{1}"
                *ngFor="let t of [1, 2, 3, 4]; let i = index"
                [formControlName]="'input' + [t]"
                inputmode="numeric"
                maxlength="1"
                (keyup)="keyUpEvent($event, i)"
                (focus)="loginMessage = ''"
              />
            </div>
            <p class="resend-otp" (click)="sendOtp()" >
              Don't receive the OTP? <a *ngIf="!viewResendBtn">RESEND OTP</a><a *ngIf="viewResendBtn">{{ timeToDisplay }}</a>
            </p>
            <p class="resend-otp"  (click)="sendingOTP = true">
              <a>Change Mobile Number</a>
            </p>
            <div *ngIf="loginMessage !== ''" class="invalid-error">
              <p class="invalidmessage">{{ loginMessage }}</p>
            </div>
          </div>
          <br>
          <button class="otp-btn" (click)="verifyOtp()">ENTER OTP</button>
        </form>
      <hr />
      <span class="or">OR</span>
      <button class="google-login" (click)="signInWithGoogle()">Login with Google</button>
      <p class="terms">
        By clicking, I accept the <a routerLink="../policies/privacy-policy">Privacy Policy</a>
      </p>
     </div>
    <!-- Complete Screen -->
  </div>
</div>
