<div class="centering">
  <div class="wrapper">
    <div class="mainpage">
      <div class="loginpageimage">
        <img src="assets/imagefolder/loginpage.png" alt="loginpageimage">
      </div>
      <div class="loginpagecontain">
        <div class="loginpageheader">
          <span class="yellow">Let's </span>
          <span class="blue">Bunk </span>
          <span class="yellow">Again</span>
        </div>
      </div>
      <div class="subheading">
        Your Personal Meetup App
      </div>
      <div class="option">
        <hr>
        <span class="or">Log in or sign up</span>
      </div>
      <div class="loginheading">
        Please Enter Your 10 Digit Mobile Number
      </div>
      <div class="inputbox">
        <input class="input" type="tel" placeholder="Enter Mobile Number (Don't use +91)"/><br>
        <button>Send OTP</button>
      </div>
      <div class="otpbox">
        <div class="otpheading">Enter 4 digit OTP</div>
        <div class="otp">
          <input type="number" maxlength="1" size="1"/>
          <input type="number" maxlength="1" size="1"/>
          <input type="number" maxlength="1" size="1"/>
          <input type="number" maxlength="1" size="1"/>
        </div>
      </div>
      <div class="verfiybtn">
        <button>Verify OTP</button>
      </div>
      <div class="otpoption">
        <div class="changenumber">
          <a class="resend" href="#">Resend OTP</a>
          <a class="resend" href="#">Change Number</a>
      </div>
      </div>
      <div class="option">
        <hr>
        <span class="or">or</span>
      </div>
      <div (click)="signInWithGoogle()" class="loginwithgoogle" >
        <a><img src="https://static.vecteezy.com/system/resources/previews/010/353/285/original/colourful-google-logo-on-white-background-free-vector.jpg" style="width:50px;height: 50px;border-radius:50%;padding: 10px;"/></a>
        &nbsp;
        <span style="cursor:pointer">Login with Google</span>
      </div>
      <div class="additionalcontent">
        <span>By continuing, you agree to our</span>
        <p><a routerLink="../policies/privacy-policy">Privacy Policy</a></p>
      </div>
    </div>
  </div>
</div>
