.categories-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px 0px 0px;
    .categoryheading{
        h1{
            font-weight: 600;
            font-size:18px;
            color: #000000;
        }
    }
    .categorybtn{
        .seemorebtn{
            font-weight:500;
            font-size:16px;
            color: #15597E;
            text-decoration: none;
        }
    }
}
.categorylist{
    display: flex;
    align-items: center;
    gap:12px;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 15px 0px 0px 0px;
}
.itemimage{
    width:70px;
    height:70px;
    object-fit:cover;
    border-radius: 50%;
    box-shadow: 0px 0px 12px 8px rgba(0,0,0,0.1);
    border: 1px solid #FC9C67;
}
.items{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
}
.categoryname{
    font-weight:500;
    font-size:16px;
    white-space: nowrap;
}