<div class="categories">
    <div class="categories-header">
        <div class="categoryheading">
            <h1>Categories</h1>
        </div>
        <div class="categorybtn">
            <a routerLink="/categories" class="seemorebtn">View more</a>
        </div>
    </div>
    <div class="categorylist">
        <div class="items" [ngClass]="{'active': cat.isActive}" *ngFor="let cat of categories" [title]="cat.data.name" (click)="updateCategory(cat.data.id)">
            <img src="assets/imagefolder/resturantimg.jfif" *ngIf="cat.data.image === null || cat.data.image === ''" referrerpolicy="no-referrer" class="itemimage" alt="first" width="60px" height="60px" [alt]="cat.data.name">
            <img [src]="storageUrl + cat.data.image" *ngIf="cat.data.image !== null && cat.data.image !== ''" referrerpolicy="no-referrer" class="itemimage" alt="first" width="60px" height="60px" [alt]="cat.data.name" />
        </div>
    </div>
</div>
