<div class="categories">
    <div class="categories-header">
        <div class="categoryheading">
            <h1>Categories</h1>
        </div>
        <div class="categorybtn">
            <a href="#" class="seemorebtn">View more</a>
        </div>
    </div>
    <div class="categorylist">
        <div class="items">
            <img src="https://letsbunkagain.com/backend/storage/itemsCategories/Y0fbV8hQVOk35ry3esgnyn90H4NA8Er6qipvpP9z.jpg" class="itemimage" alt="first" width="60px" height="60px" />
        </div>
        <div class="items">
            <img src="https://letsbunkagain.com/backend/storage/itemsCategories/hV7wtnqlx1h3RvsIOHHJPpjHeX6EpAIaJkaNY8Ya.jpg" class="itemimage" alt="first" width="60px" height="60px" />
        </div>
        <div class="items">
            <img src="https://letsbunkagain.com/backend/storage/itemsCategories/hV7wtnqlx1h3RvsIOHHJPpjHeX6EpAIaJkaNY8Ya.jpg" class="itemimage" alt="first" width="60px" height="60px" />
        </div>
        <div class="items">
            <img src="assets/imagefolder/resturantimg.jfif" class="itemimage" alt="first" width="60px" height="60px" />
        </div>
        <div class="items">
            <img src="assets/imagefolder/resturantimg.jfif" class="itemimage" alt="first" width="60px" height="60px" />
        </div>
        <div class="items">
            <img src="assets/imagefolder/resturantimg.jfif" class="itemimage" alt="first" width="60px" height="60px" />
        </div>
    </div>
</div>
