<div class="centering">
  <div class="wrapper">
  <div class="mainpage">
    <div class="settingpageheader">
      <div class="settngpageheading">
        <i class="fas fa-arrow-left" routerLink="/settings"></i>&nbsp;&nbsp;
        Policy
      </div>
    </div>
    <div class="settingpage">
      <div class="settingpageoption">
        <div class="settingoption" routerLink="/policies/privacy-policy">
            <span><i class="fa-solid fa-user-pen"></i></span>
            <span class="optionheading">Privacy Policy</span>
        </div>
        <div class="settingoption" routerLink="/policies/terms-condition">
          <span><i class="fa-solid fa-file"></i></span>
          <span class="optionheading">Terms & Condition</span>
        </div>
        <div class="settingoption" routerLink="/policies/cancellation-refund">
          <span><i class="fas fa-bell-slash"></i></span>
          <span class="optionheading">Cancellation Refund</span>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
