@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter';
    font-style: normal;
    box-sizing: border-box;
}
.modal-content{
    background: transparent !important;
    border: none !important;
}
.modal-header{
    border: none !important;
}
.slidercontainer{
    font-family: "@Microsoft YaHei Light";
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100vh;
    overflow: hidden;
}
.carousel-container {
    border-radius: 10px;
    overflow: hidden;
    max-width: 800px;
    position: relative;
    box-shadow: 0 0 30px -20px #223344;
    margin: auto;
    z-index: 0;
  }
  /* Hide the images by default */
  .mySlides img {
    display: block;
    object-fit: fill;
    height: 280px;
    width: 280px;
  }
  .mySlides {
    object-fit: cover;
    height: 280px;
    width: 280px;
  }
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: auto;
    padding: 8px;
    color: #000000;
    font-weight: bold;
    font-size: 16px;
    border-radius: 0 8px 8px 0;
    background: rgba(173, 216, 230, 0.1);
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 8px 0 0 8px;
  }
  .prev:hover,
  .next:hover {
    background-color: rgba(173, 216, 230, 0.3);
  }
  .dots-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
  }
  /* The dots/bullets/indicators */
  .dots {
    cursor: pointer;
    height: 14px;
    width: 14px;
    margin: 0 4px;
    background-color: rgba(173, 216, 230, 0.2);
    backdrop-filter: blur(2px);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  .active,
  .dots:hover {
    background-color: rgba(173, 216, 230, 0.8);
  }
  /* transition animation */
  .animate {
    -webkit-animation-name: animate;
    -webkit-animation-duration: 1s;
    animation-name: animate;
    animation-duration: 2s;
  }
  @keyframes animate {
    from {
      transform: scale(1.1) rotateY(10deg);
    }
    to {
      transform: scale(1) rotateY(0deg);
    }
  }
  .w-100 {
      width: 280px!important;
      height: 280px;
  }