<div class="centering">
  <div class="wrapper">
    <div class="mainpage">
      <div class="orderhistory">
        <div class="orderhistoryheading">
          <h1>Order History</h1>
        </div>
        <div class="searchbar">
          <input type="text" placeholder="Search for a restaurant....">
        </div>
        <div class="orderhistorylist">
          <div class="pastorderdetails">
            <div class="upperpart" routerLink="/order-details/1">
              <div class="resturantimage">
                <img src="assets/imagefolder/resturantimg.jfif" alt="restaurant">
              </div>
              <div class="resturantdetails">
                <div class="shopname">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique, quod voluptatem
                  beatae nemo quae impedit necessitatibus earum nihil, atque tempore obcaecati, aperiam tempora
                  blanditiis! Quod delectus itaque recusandae dolores architecto, provident atque consequuntur, laboriosam
                  obcaecati voluptatem saepe. Neque culpa illum, placeat quidem ab quae aut impedit, unde blanditiis sequi
                  eveniet.</div>
                <div class="shopaddress">Address of the shop will be display here</div>
                <div class="orderbefore">Order before</div>
              </div>
              <div class="viewmenu">
                <a href="#">View Menu</a>
              </div>
            </div>
            <div class="belowpart">
              <div class="itemlist">
                <div class="item">
                  <img src="assets/imagefolder/itemimage.jfif" alt="item image" />
                  <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, quas!</span>

                </div>
                <div class="item">
                  <img src="assets/imagefolder/itemimage.jfif" alt="item image" />
                  <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, quas!</span>
                </div>
                <div class="item">
                  <img src="assets/imagefolder/itemimage.jfif" alt="item image" />
                  <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, quas!</span>
                </div>
              </div>
              <div class="totalbill">
                <div class="totalbillheading">Total Bill</div>
                <div class="totalbillamount">Rs. 500</div>
              </div>
              <div class="extrasection">
                <div class="orderstatus completed">
                  Completed
                </div>
                <div class="reorderbtn">
                  <button>Reorder</button>
                </div>
              </div>
            </div>
          </div>
          <div class="pastorderdetails">
            <div class="upperpart">
              <div class="resturantimage">
                <img src="assets/imagefolder/resturantimg.jfif" alt="restaurant">
              </div>
              <div class="resturantdetails">
                <div class="shopname">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique, quod voluptatem
                  beatae nemo quae impedit necessitatibus earum nihil, atque tempore obcaecati, aperiam tempora
                  blanditiis! Quod delectus itaque recusandae dolores architecto, provident atque consequuntur, laboriosam
                  obcaecati voluptatem saepe. Neque culpa illum, placeat quidem ab quae aut impedit, unde blanditiis sequi
                  eveniet.</div>
                <div class="shopaddress">Address of the shop will be display here</div>
                <div class="orderbefore">Order before</div>
              </div>
              <div class="viewmenu">
                <a href="#">View Menu</a>
              </div>
            </div>
            <div class="belowpart">
              <div class="itemlist">
                <div class="item">
                  <img src="assets/imagefolder/itemimage.jfif" alt="item image" />
                  <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, quas!</span>

                </div>
                <div class="item">
                  <img src="assets/imagefolder/itemimage.jfif" alt="item image" />
                  <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, quas!</span>
                </div>
                <div class="item">
                  <img src="assets/imagefolder/itemimage.jfif" alt="item image" />
                  <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, quas!</span>
                </div>
              </div>
              <div class="totalbill">
                <div class="totalbillheading">Total Bill</div>
                <div class="totalbillamount">Rs. 500</div>
              </div>
              <div class="extrasection">
                <div class="orderstatus completed">
                  Completed
                </div>
                <div class="reorderbtn">
                  <button>Reorder</button>
                </div>
              </div>
            </div>
          </div>
          <div class="pastorderdetails">
            <div class="upperpart">
              <div class="resturantimage">
                <img src="assets/imagefolder/resturantimg.jfif" alt="restaurant">
              </div>
              <div class="resturantdetails">
                <div class="shopname">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique, quod voluptatem
                  beatae nemo quae impedit necessitatibus earum nihil, atque tempore obcaecati, aperiam tempora
                  blanditiis! Quod delectus itaque recusandae dolores architecto, provident atque consequuntur, laboriosam
                  obcaecati voluptatem saepe. Neque culpa illum, placeat quidem ab quae aut impedit, unde blanditiis sequi
                  eveniet.</div>
                <div class="shopaddress">Address of the shop will be display here</div>
                <div class="orderbefore">Order before</div>
              </div>
              <div class="viewmenu">
                <a href="#">View Menu</a>
              </div>
            </div>
            <div class="belowpart">
              <div class="itemlist">
                <div class="item">
                  <img src="assets/imagefolder/itemimage.jfif" alt="item image" />
                  <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, quas!</span>

                </div>
                <div class="item">
                  <img src="assets/imagefolder/itemimage.jfif" alt="item image" />
                  <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, quas!</span>
                </div>
                <div class="item">
                  <img src="assets/imagefolder/itemimage.jfif" alt="item image" />
                  <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, quas!</span>
                </div>
              </div>
              <div class="totalbill">
                <div class="totalbillheading">Total Bill</div>
                <div class="totalbillamount">Rs. 500</div>
              </div>
              <div class="extrasection">
                <div class="orderstatus completed">
                  Completed
                </div>
                <div class="reorderbtn">
                  <button>Reorder</button>
                </div>
              </div>
            </div>
          </div>
          <div class="pastorderdetails">
            <div class="upperpart">
              <div class="resturantimage">
                <img src="assets/imagefolder/resturantimg.jfif" alt="restaurant">
              </div>
              <div class="resturantdetails">
                <div class="shopname">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique, quod voluptatem
                  beatae nemo quae impedit necessitatibus earum nihil, atque tempore obcaecati, aperiam tempora
                  blanditiis! Quod delectus itaque recusandae dolores architecto, provident atque consequuntur, laboriosam
                  obcaecati voluptatem saepe. Neque culpa illum, placeat quidem ab quae aut impedit, unde blanditiis sequi
                  eveniet.</div>
                <div class="shopaddress">Address of the shop will be display here</div>
                <div class="orderbefore">Order before</div>
              </div>
              <div class="viewmenu">
                <a href="#">View Menu</a>
              </div>
            </div>
            <div class="belowpart">
              <div class="itemlist">
                <div class="item">
                  <img src="assets/imagefolder/itemimage.jfif" alt="item image" />
                  <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, quas!</span>

                </div>
                <div class="item">
                  <img src="assets/imagefolder/itemimage.jfif" alt="item image" />
                  <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, quas!</span>
                </div>
                <div class="item">
                  <img src="assets/imagefolder/itemimage.jfif" alt="item image" />
                  <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, quas!</span>
                </div>
              </div>
              <div class="totalbill">
                <div class="totalbillheading">Total Bill</div>
                <div class="totalbillamount">Rs. 500</div>
              </div>
              <div class="extrasection">
                <div class="orderstatus completed">
                  Completed
                </div>
                <div class="reorderbtn">
                  <button>Reorder</button>
                </div>
              </div>
            </div>
          </div>
          <div class="pastorderdetails">
            <div class="upperpart">
              <div class="resturantimage">
                <img src="assets/imagefolder/resturantimg.jfif" alt="restaurant">
              </div>
              <div class="resturantdetails">
                <div class="shopname">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique, quod voluptatem
                  beatae nemo quae impedit necessitatibus earum nihil, atque tempore obcaecati, aperiam tempora
                  blanditiis! Quod delectus itaque recusandae dolores architecto, provident atque consequuntur, laboriosam
                  obcaecati voluptatem saepe. Neque culpa illum, placeat quidem ab quae aut impedit, unde blanditiis sequi
                  eveniet.</div>
                <div class="shopaddress">Address of the shop will be display here</div>
                <div class="orderbefore">Order before</div>
              </div>
              <div class="viewmenu">
                <a href="#">View Menu</a>
              </div>
            </div>
            <div class="belowpart">
              <div class="itemlist">
                <div class="item">
                  <img src="assets/imagefolder/itemimage.jfif" alt="item image" />
                  <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, quas!</span>

                </div>
                <div class="item">
                  <img src="assets/imagefolder/itemimage.jfif" alt="item image" />
                  <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, quas!</span>
                </div>
                <div class="item">
                  <img src="assets/imagefolder/itemimage.jfif" alt="item image" />
                  <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, quas!</span>
                </div>
              </div>
              <div class="totalbill">
                <div class="totalbillheading">Total Bill</div>
                <div class="totalbillamount">Rs. 500</div>
              </div>
              <div class="extrasection">
                <div class="orderstatus completed">
                  Completed
                </div>
                <div class="reorderbtn">
                  <button>Reorder</button>
                </div>
              </div>
            </div>
          </div>
          <div class="pastorderdetails">
            <div class="upperpart">
              <div class="resturantimage">
                <img src="assets/imagefolder/resturantimg.jfif" alt="restaurant">
              </div>
              <div class="resturantdetails">
                <div class="shopname">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique, quod voluptatem
                  beatae nemo quae impedit necessitatibus earum nihil, atque tempore obcaecati, aperiam tempora
                  blanditiis! Quod delectus itaque recusandae dolores architecto, provident atque consequuntur, laboriosam
                  obcaecati voluptatem saepe. Neque culpa illum, placeat quidem ab quae aut impedit, unde blanditiis sequi
                  eveniet.</div>
                <div class="shopaddress">Address of the shop will be display here</div>
                <div class="orderbefore">Order before</div>
              </div>
              <div class="viewmenu">
                <a href="#">View Menu</a>
              </div>
            </div>
            <div class="belowpart">
              <div class="itemlist">
                <div class="item">
                  <img src="assets/imagefolder/itemimage.jfif" alt="item image" />
                  <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, quas!</span>

                </div>
                <div class="item">
                  <img src="assets/imagefolder/itemimage.jfif" alt="item image" />
                  <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, quas!</span>
                </div>
                <div class="item">
                  <img src="assets/imagefolder/itemimage.jfif" alt="item image" />
                  <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, quas!</span>
                </div>
              </div>
              <div class="totalbill">
                <div class="totalbillheading">Total Bill</div>
                <div class="totalbillamount">Rs. 500</div>
              </div>
              <div class="extrasection">
                <div class="orderstatus completed">
                  Completed
                </div>
                <div class="reorderbtn">
                  <button>Reorder</button>
                </div>
              </div>
            </div>
          </div>
          <div class="pastorderdetails">
            <div class="upperpart">
              <div class="resturantimage">
                <img src="assets/imagefolder/resturantimg.jfif" alt="restaurant">
              </div>
              <div class="resturantdetails">
                <div class="shopname">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique, quod voluptatem
                  beatae nemo quae impedit necessitatibus earum nihil, atque tempore obcaecati, aperiam tempora
                  blanditiis! Quod delectus itaque recusandae dolores architecto, provident atque consequuntur, laboriosam
                  obcaecati voluptatem saepe. Neque culpa illum, placeat quidem ab quae aut impedit, unde blanditiis sequi
                  eveniet.</div>
                <div class="shopaddress">Address of the shop will be display here</div>
                <div class="orderbefore">Order before</div>
              </div>
              <div class="viewmenu">
                <a href="#">View Menu</a>
              </div>
            </div>
            <div class="belowpart">
              <div class="itemlist">
                <div class="item">
                  <img src="assets/imagefolder/itemimage.jfif" alt="item image" />
                  <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, quas!</span>

                </div>
                <div class="item">
                  <img src="assets/imagefolder/itemimage.jfif" alt="item image" />
                  <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, quas!</span>
                </div>
                <div class="item">
                  <img src="assets/imagefolder/itemimage.jfif" alt="item image" />
                  <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, quas!</span>
                </div>
              </div>
              <div class="totalbill">
                <div class="totalbillheading">Total Bill</div>
                <div class="totalbillamount">Rs. 500</div>
              </div>
              <div class="extrasection">
                <div class="orderstatus completed">
                  Completed
                </div>
                <div class="reorderbtn">
                  <button>Reorder</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <cart></cart>
    <bottom-nav></bottom-nav>
  </div>
</div>
