<div class="belowpartitemlist">
  <div class="itemlisting">
      <div class="items" *ngFor="let item of itemLists">
          <div class="iteminfo">
              <div class="itemimage">
                <img [src]="storageUrl + item.item.image" alt="item" *ngIf="item.item.image !== null && item.item.image !== ''"/>
                <img src="assets/imagefolder/resturantimg.jfif" alt="item" *ngIf="item.item.image === null || item.item.image === ''"/>
              </div>
              <div class="itemdetails">
                  <div class="itemname">{{item.item.name}}</div>
                  <div class="itemprice">{{item.item.price | currency: 'INR'}}</div>
                  <div class="itemcategory">{{item.item.category?.name}}</div>
              </div>
              <div class="addtofaviorite" *ngIf="sharedService.user && sharedService.user.id !== 0">
                <i *ngIf="!commonService.checkFav(1,item.item.id)" class="far fa-heart" (click)="commonService.addToFav(1,item.item.id)"></i>
                <i *ngIf="commonService.checkFav(1,item.item.id)" class="fas fa-heart" (click)="commonService.deleteFav(1,item.item.id)"></i>
              </div>
          </div>
          <div class="addbutton" *ngIf="!item.isSelected">
            <div>
              <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Veg_symbol.svg/1200px-Veg_symbol.svg.png" class="categoryimg" alt="veg/non-veg" width="20px" height="20px"/> -->
              <i class="fas fa-leaf" title="Veg"  [style.color]="'green'" *ngIf="item.item.nutrition_type === 0"></i>
              <i class="fas fa-drumstick-bite" title="Non Veg"  [style.color]="'red'" *ngIf="item.item.nutrition_type === 1"></i>
              <i class="fas fa-egg" title="Contains Egg"  [style.color]="'#fc9c67'" *ngIf="item.item.nutrition_type === 2"></i>
              <span>{{ item.item.nutrition_type === 0?'Veg':(item.item.nutrition_type === 0?'Non-Veg':'Egg') }}</span>
              <span class="variants" *ngIf="item.item.isVariants === 1 && item.item.variants.length > 0">{{ item.item.variants.length }} Variants available</span>
            </div>
              <button (click)="addToCart(item.item.id)">
                  <span><i class="fa-solid fa-plus"></i></span>
                  <span>Add</span>
              </button>
          </div>
          <div class="itemnumbercounter" *ngIf="item.isSelected">
            <span><button class="decremental" (click)="descQuanity(item.item.id)"><i class="fa-solid fa-minus"></i></button></span>
            <span class="itemcount">
              {{item.count}}
            </span>
            <span><button class="incremental" (click)="increaseQuanity(item.item.id)"><i class="fa-solid fa-plus"></i></button></span>
          </div>
      </div>
  </div>
</div>
