<div class="belowpartitemlist">
  <div class="itemlisting">
      <div class="items">
          <div class="iteminfo">
              <div class="itemimage">
                  <img src="assets/imagefolder/itemimage.jfif" alt="item image"/>
              </div>
              <div class="itemdetails">
                  <div class="itemname">Fruit salad mix salad mix Fruit salad mix salad mix</div>
                  <div class="itemprice">&#x20B9; 2000</div>
                  <div class="itemcategory">Item Categories:</div>
              </div>
              <div class="addtofaviorite">
                  <i class="far fa-heart"></i>
              </div>
          </div>
          <div class="addbutton">
              <button>
                  <span><i class="fa-solid fa-plus"></i></span>
                  <span>Add</span>
              </button>
          </div>
      </div>
      <div class="items">
          <div class="iteminfo">
              <div class="itemimage">
                  <img src="assets/imagefolder/itemimage.jfif" alt="item image"/>
              </div>
              <div class="itemdetails">
                  <div class="itemname">Fruit salad mix salad mix Fruit salad mix salad mix</div>
                  <div class="itemprice">&#x20B9; 2000</div>
                  <div class="itemcategory">Item Categories:</div>
              </div>
              <div class="addtofaviorite">
                  <i class="far fa-heart"></i>
              </div>
          </div>
          <div class="addbutton">
              <button>
                  <span><i class="fa-solid fa-plus"></i></span>
                  <span>Add</span>
              </button>
          </div>
      </div>
      <div class="items">
          <div class="iteminfo">
              <div class="itemimage">
                  <img src="assets/imagefolder/itemimage.jfif" alt="item image"/>
              </div>
              <div class="itemdetails">
                  <div class="itemname">Fruit salad mix salad mix Fruit salad mix salad mix</div>
                  <div class="itemprice">&#x20B9; 2000</div>
                  <div class="itemcategory">Item Categories:</div>
              </div>
              <div class="addtofaviorite">
                  <i class="far fa-heart"></i>
              </div>
          </div>
          <div class="itemnumbercounter">
              <span><button class="decremental"><i class="fa-solid fa-minus"></i></button></span>
              <span class="itemcount">
                  1
              </span>
              <span><button class="incremental"><i class="fa-solid fa-plus"></i></button></span>
          </div>
      </div>
      <div class="items">
          <div class="iteminfo">
              <div class="itemimage">
                  <img src="assets/imagefolder/itemimage.jfif" alt="item image"/>
              </div>
              <div class="itemdetails">
                  <div class="itemname">Fruit salad mix salad mix Fruit salad mix salad mix</div>
                  <div class="itemprice">&#x20B9; 2000</div>
                  <div class="itemcategory">Item Categories:</div>
              </div>
              <div class="addtofaviorite">
                  <i class="far fa-heart"></i>
              </div>
          </div>
          <div class="itemnumbercounter">
              <span><button class="decremental"><i class="fa-solid fa-minus"></i></button></span>
              <span class="itemcount">
                  1
              </span>
              <span><button class="incremental"><i class="fa-solid fa-plus"></i></button></span>
          </div>
      </div>
      <div class="items">
          <div class="iteminfo">
              <div class="itemimage">
                  <img src="assets/imagefolder/itemimage.jfif" alt="item image"/>
              </div>
              <div class="itemdetails">
                  <div class="itemname">Fruit salad mix salad mix Fruit salad mix salad mix</div>
                  <div class="itemprice">&#x20B9; 2000</div>
                  <div class="itemcategory">Item Categories:</div>
              </div>
              <div class="addtofaviorite">
                  <i class="far fa-heart"></i>
              </div>
          </div>
          <div class="itemnumbercounter">
              <span><button class="decremental"><i class="fa-solid fa-minus"></i></button></span>
              <span class="itemcount">
                  1
              </span>
              <span><button class="incremental"><i class="fa-solid fa-plus"></i></button></span>
          </div>
      </div>
      <div class="items">
          <div class="iteminfo">
              <div class="itemimage">
                  <img src="assets/imagefolder/itemimage.jfif" alt="item image"/>
              </div>
              <div class="itemdetails">
                  <div class="itemname">Fruit salad mix salad mix Fruit salad mix salad mix</div>
                  <div class="itemprice">&#x20B9; 2000</div>
                  <div class="itemcategory">Item Categories:</div>
              </div>
              <div class="addtofaviorite">
                  <i class="far fa-heart"></i>
              </div>
          </div>
          <div class="itemnumbercounter">
              <span><button class="decremental"><i class="fa-solid fa-minus"></i></button></span>
              <span class="itemcount">
                  1
              </span>
              <span><button class="incremental"><i class="fa-solid fa-plus"></i></button></span>
          </div>
      </div>
      <div class="items">
          <div class="iteminfo">
              <div class="itemimage">
                  <img src="assets/imagefolder/itemimage.jfif" alt="item image"/>
              </div>
              <div class="itemdetails">
                  <div class="itemname">Fruit salad mix salad mix Fruit salad mix salad mix</div>
                  <div class="itemprice">&#x20B9; 2000</div>
                  <div class="itemcategory">Item Categories:</div>
              </div>
              <div class="addtofaviorite">
                  <i class="far fa-heart"></i>
              </div>
          </div>
          <div class="itemnumbercounter">
              <span><button class="decremental"><i class="fa-solid fa-minus"></i></button></span>
              <span class="itemcount">
                  1
              </span>
              <span><button class="incremental"><i class="fa-solid fa-plus"></i></button></span>
          </div>
      </div>
  </div>
</div>
