<div class="centering">
    <div class="wrapper">
    <div class="mainpage">
        <div class="favoritepage">
            <div class="favoritepageheading">
                <h1>Favorites</h1>
            </div>
            <div class="favoritelist">
                <div class="favoriteitemcard">
                    <img src="assets/imagefolder/imageofitem.png" alt="item image"/>
                    <div class="favoriteitemdescription">
                        <div class="favitemname">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad magnam laboriosam sunt impedit, illo quaerat dolore eligendi. Repellendus, voluptatibus fugiat?</div>
                        <div class="favdecriptionname">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad magnam laboriosam sunt impedit, illo quaerat dolore eligendi. Repellendus, voluptatibus fugiat?</div>
                        <div class="priceandbtn">
                            <div class="favitemprice">&#8377; 2000</div>
                            <div class="favitembtn">
                                <button>Add</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="favoriteitemcard">
                    <img src="assets/imagefolder/imageofitem.png" alt="item image"/>
                    <div class="favoriteitemdescription">
                        <div class="favitemname">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad magnam laboriosam sunt impedit, illo quaerat dolore eligendi. Repellendus, voluptatibus fugiat?</div>
                        <div class="favdecriptionname">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad magnam laboriosam sunt impedit, illo quaerat dolore eligendi. Repellendus, voluptatibus fugiat?</div>
                        <div class="priceandbtn">
                            <div class="favitemprice">&#8377; 2000</div>
                            <div class="favitembtn">
                                <button>Add</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="favoriteitemcard">
                    <img src="assets/imagefolder/imageofitem.png" alt="item image"/>
                    <div class="favoriteitemdescription">
                        <div class="favitemname">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad magnam laboriosam sunt impedit, illo quaerat dolore eligendi. Repellendus, voluptatibus fugiat?</div>
                        <div class="favdecriptionname">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad magnam laboriosam sunt impedit, illo quaerat dolore eligendi. Repellendus, voluptatibus fugiat?</div>
                        <div class="priceandbtn">
                            <div class="favitemprice">&#8377; 2000</div>
                            <div class="favitembtn">
                                <button>Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer></footer>
    <bottom-nav></bottom-nav>
    </div>
</div>
