<div class="centering">
    <div class="wrapper">
    <div class="mainpage">
      <div class="favoritepage">
          <div class="favoritepageheading">
            <div class="favheading">
              <h1>Favorites</h1>
              <div>{{ type === 0? shopLists.length + ' Shops': itemLists.length + ' Items' }}</div>
            </div>

            <div class="checkbox-wrapper-35">
              <input value="private" name="switch" id="switch" type="checkbox" class="switch" (click)="type = (type == 0)?1:0">
              <label for="switch">
                <span class="switch-x-toggletext">
                  <span class="switch-x-unchecked"><span class="switch-x-hiddenlabel">Unchecked: </span>Items</span>
                  <span class="switch-x-checked"><span class="switch-x-hiddenlabel">Checked: </span>Shop</span>
                </span>
              </label>
            </div>


          </div>
          <ng-container *ngIf="this.sharedService.user && this.sharedService.user.id !== 0; else noLogin">
            <div class="lists" *ngIf="type === 0">
              <div class="list" *ngFor="let shop of shopLists" [routerLink]="'/menu/' + shop.slug">
                <div class="resturantimage">
                  <img [src]="storageUrl + shop.profileImage" alt="shop" *ngIf="shop.profileImage !== null && shop.profileImage !== ''"/>
                  <img src="assets/imagefolder/favshops.png" alt="shop"  *ngIf="shop.profileImage === null || shop.profileImage === ''"/>
                </div>
                <div class="resturantdetails">
                    <div class="shopname">{{shop.title}}</div>
                    <div class="description" *ngIf="shop.address">{{shop.address[0].category?.name}}</div>
                    <div class="rating">
                        <span>⭐</span>
                        <span class="ratingvalue">4.5</span>
                    </div>
                    <div class="shopaddress"*ngIf="shop.address && shop.address.length > 0">
                        {{ shop.address[0].addressLine }}, {{ shop.address[0].landmark }}, {{ shop.address[0].city }}
                    </div>
                </div>
            </div>
            </div>
            <div class="favoritelist" *ngIf="type === 1">
                <div class="favoriteitemcard" *ngFor="let item of itemLists">
                  <!-- <div class="favouritelogo">
                    <span>
                      <i *ngIf="!commonService.checkFav(1,item.item.id)" class="far fa-heart" (click)="commonService.addToFav(1,item.item.id)"></i>
                      <i *ngIf="commonService.checkFav(1,item.item.id)" class="fas fa-heart" (click)="removeFavItem(item.item.id)"></i>
                    </span>
                  </div> -->
                  <img [src]="storageUrl + item.item.image" alt="item" *ngIf="item.item.image !== null && item.item.image !== ''"/>
                  <img src="assets/imagefolder/resturantimg.jfif" alt="item" *ngIf="item.item.image === null || item.item.image === ''"/>
                    <div class="favoriteitemdescription">
                        <div class="favitemname">{{item.item.name}}</div>
                        <div class="favdecriptionname">{{item.item.category?.name}}</div>
                        <div class="favbadges">
                          <span>
                            <img src="assets/imagefolder/veg.png" class="categoryimg" alt="veg" *ngIf="item.item.nutrition_type === 0"/>
                            <img src="assets/imagefolder/non-veg.png" class="categoryimg" alt="veg" *ngIf="item.item.nutrition_type === 1"/>
                            <img src="assets/imagefolder/egg.png" class="categoryimg" alt="veg" *ngIf="item.item.nutrition_type === 2"/>
                            {{ item.item.nutrition_type === 0?'Veg':(item.item.nutrition_type === 0?'Non-Veg':'Egg') }}
                          </span>
                          <span class="variants" *ngIf="item.item.isVariants === 1 && item.item.variants.length > 0">{{ item.item.variants.length }} Variants available</span>
                        </div>
                        <div class="priceandbtn">
                            <div class="favitemprice">{{item.item.price | currency: 'INR'}}</div>
                            <div class="favitembtn" *ngIf="!item.isSelected && item.item.isVariants === 0 || item.item.variants.length === 0" (click)="addToCart(item.item.id)">
                              <button>Add</button>
                            </div>
                            <div class="favitembtn" *ngIf="!item.isSelected && item.item.isVariants === 1 && item.item.variants.length > 0" (click)="openVariantModal(item.item)">
                              <button>Add</button>
                            </div>
                            <div class="itemnumbercounter" *ngIf="item.isSelected && (item.item.isVariants === 0 || item.item.variants.length === 0)">
                              <span><span class="decremental" (click)="descQuanity(item.item.id)"><i class="fa-solid fa-minus"></i></span></span>
                              <span class="itemcount">
                                  {{item.count}}
                              </span>
                              <span><span class="incremental" (click)="increaseQuanity(item.item.id)"><i class="fa-solid fa-plus"></i></span></span>
                            </div>
                            <div class="favitembtn" *ngIf="item.isSelected && item.item.isVariants === 1 && item.item.variants.length > 0"  (click)="openVariantModal(item.item)">
                              <button>Add More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </ng-container>
          <ng-template #noLogin>
            <no-login-page></no-login-page>
          </ng-template>
      </div>
    </div>
    <app-footer></app-footer>
    <bottom-nav></bottom-nav>
    </div>
</div>
<variants *ngIf="openModal && selectedItem.shop" [item]="selectedItem" [shop]="selectedItem.shop" (newItemEvent)="closeVariantModal($event)"></variants>
