<div class="centering">
    <div class="wrapper">
    <div class="mainpage">
        <div class="favoritepage">
        <div class="favoritepageheading">
            <h1>Favorites</h1>
        </div>
        <div class="favoritelist">
            <div class="favoriteitemcard">
                <img src="assets/imagefolder/imageofitem.png" alt="item image"/>
                <div class="favoriteitemdetails">
                    <div class="itemsdetailsinfavorites">
                        <div class="itemname">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, ipsa.</div>
                        <div class="itemcategory">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, exercitationem?</div>
                        <div class="itemprice">&#x20B9; 185</div>
                    </div>
                    <div class="itemaddbutton">
                        <button>Add</button>
                    </div>
                </div>
            </div>
            <div class="favoriteitemcard">
                <img src="assets/imagefolder/imageofitem.png" alt="item image"/>
                <div class="favoriteitemdetails">
                    <div>
                        <div class="itemname">Item name</div>
                        <div class="itemcategory">category of item</div>
                        <div class="itemprice">&#x20B9; 185</div>
                    </div>
                    <div class="itemaddbutton">
                        <button>Add</button>
                    </div>
                </div>
            </div>
            <div class="favoriteitemcard">
                <img src="assets/imagefolder/imageofitem.png" alt="item image"/>
                <div class="favoriteitemdetails">
                    <div>
                        <div class="itemname">Item name</div>
                        <div class="itemcategory">category of item</div>
                        <div class="itemprice">&#x20B9; 185</div>
                    </div>
                    <div class="itemaddbutton">
                        <button>Add</button>
                    </div>
                </div>
            </div>
            <div class="favoriteitemcard">
                <img src="assets/imagefolder/imageofitem.png" alt="item image"/>
                <div class="favoriteitemdetails">
                    <div>
                        <div class="itemname">Item name</div>
                        <div class="itemcategory">category of item</div>
                        <div class="itemprice">&#x20B9; 185</div>
                    </div>
                    <div class="itemaddbutton">
                        <button>Add</button>
                    </div>
                </div>
            </div>
            <div class="favoriteitemcard">
                <img src="assets/imagefolder/imageofitem.png" alt="item image"/>
                <div class="favoriteitemdetails">
                    <div>
                        <div class="itemname">Item name</div>
                        <div class="itemcategory">category of item</div>
                        <div class="itemprice">&#x20B9; 185</div>
                    </div>
                    <div class="itemaddbutton">
                        <button>Add</button>
                    </div>
                </div>
            </div>
            <div class="favoriteitemcard">
                <img src="assets/imagefolder/imageofitem.png" alt="item image"/>
                <div class="favoriteitemdetails">
                    <div>
                        <div class="itemname">Item name</div>
                        <div class="itemcategory">category of item</div>
                        <div class="itemprice">&#x20B9; 185</div>
                    </div>
                    <div class="itemaddbutton">
                        <button>Add</button>
                    </div>
                </div>
            </div>
            <div class="favoriteitemcard">
                <img src="assets/imagefolder/imageofitem.png" alt="item image"/>
                <div class="favoriteitemdetails">
                    <div>
                        <div class="itemname">Item name</div>
                        <div class="itemcategory">category of item</div>
                        <div class="itemprice">&#x20B9; 185</div>
                    </div>
                    <div class="itemaddbutton">
                        <button>Add</button>
                    </div>
                </div>
            </div>
            <div class="favoriteitemcard">
                <img src="assets/imagefolder/imageofitem.png" alt="item image"/>
                <div class="favoriteitemdetails">
                    <div>
                        <div class="itemname">Item name</div>
                        <div class="itemcategory">category of item</div>
                        <div class="itemprice">&#x20B9; 185</div>
                    </div>
                    <div class="itemaddbutton">
                        <button>Add</button>
                    </div>
                </div>
            </div>
            <div class="favoriteitemcard">
                <img src="assets/imagefolder/imageofitem.png" alt="item image"/>
                <div class="favoriteitemdetails">
                    <div>
                        <div class="itemname">Item name</div>
                        <div class="itemcategory">category of item</div>
                        <div class="itemprice">&#x20B9; 185</div>
                    </div>
                    <div class="itemaddbutton">
                        <button>Add</button>
                    </div>
                </div>
            </div>
            <div class="favoriteitemcard">
                <img src="assets/imagefolder/imageofitem.png" alt="item image"/>
                <div class="favoriteitemdetails">
                    <div>
                        <div class="itemname">Item name</div>
                        <div class="itemcategory">category of item</div>
                        <div class="itemprice">&#x20B9; 185</div>
                    </div>
                    <div class="itemaddbutton">
                        <button>Add</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <footer></footer>
    <bottom-nav></bottom-nav>
    </div>
</div>
