.notpresentcontainer{
  // position: absolute;
  // top:70%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  padding-top:25px;
  text-align: center;
}
.logonotpresent img{
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

.reason{
  color: #000000;
  font-size: 25px;
  font-weight: 600;
  margin-top: 25px;
}
