<div class="centering">
  <div class="wrapper">
    <div class="mainpage">
      <header></header>
      <home-order-type [type]="orderType" (newItemEvent)="updateOrderType($event)"></home-order-type>
      <ng-container *ngIf="orderType === 0; else upcomming">
        <home-search></home-search>
        <home-banner></home-banner>
        <home-top-filter></home-top-filter>
        <home-categories></home-categories>
        <home-fav-shop></home-fav-shop>
        <home-top-brands></home-top-brands>
        <home-recommended></home-recommended>
      </ng-container>
      <ng-template #upcomming>
        <home-upcoming></home-upcoming>
      </ng-template>
    </div>
    <!-- <footer></footer> -->
    <bottom-nav></bottom-nav>
  </div>
</div>

