<div class="bottomnavigation">
    <div class="home">
        <img src="assets/home.png" alt="Home" width="35px"/>
    </div>
    <div class="orders">
        <img src="assets/cloche.png" alt="order" width="40px"/>
    </div>
    <div class="scanner">
        <img src="assets/qrscanner.png" alt="scanner" width="40px"/>
    </div>
    <div class="shop">
        <img src="assets/store.png" alt="Shop" width="35px"/>
    </div>
    <div class="profile">
        <img src="assets/user.png" alt="profile" width="35px"/>
    </div>
</div>