<div class="bottompartofmainpage">
  <div class="bottomnavigation">
      <div class="options active">
          <i class="fa-solid fa-house"></i>
      </div>
      <div class="options">
          <i class="fa-solid fa-cart-shopping"></i>
      </div>
      <div class="options">
          <i class="fa-solid fa-qrcode"></i>
      </div>
      <div class="options" routerLink="/order-history">
          <i class="fa-solid fa-shop"></i>
      </div>
      <div class="options">
          <i class="fa-solid fa-gear"></i>
      </div>
  </div>
</div>
