 <div class="centering">
  <div class="wrapper">
    <div class="mainpage">
      <div class="orderstatuspage">
        <div class="cooking">
            <div class="headingsection">
                <div class="orderid">Order Id #001</div>
                <div class="heading">Cooking</div>
                <div class="timer">Ready in 12:20</div>
                <div class="headingsectionimage"><img src="assets/imagefolder/cooking.png" alt=""></div>
            </div>
            <div class="bucketsection">
              <div class="mybucketheadingarea">
                <div class="mybucketheading">My Bucket</div>
                <div class="additemsbtn"><button>+ Add Items</button></div>
              </div>

              <div class="itemcardcontainer">
                <div class="itemcardsection">
                  <div class="cardsection">
                    <div class="itemimage"><img src="assets/imagefolder/itemimage.jfif" alt=""></div>
                    <div class="itemcarddetails">
                      <div class="checkoutpageitemname">Fruit salad mix</div>
                      <div><span class="effectiveprice">&#8377; <span>49.00</span></span><span class="originalprice">&#8377; <span>99.00</span></span></div>
                      <div><span class="percent">%</span><span class="freedeliveryheading">Free Delivery</span></div>
                    </div>
                  </div>
                  <div class="deletebtn"><i class="fas fa-trash-alt" style="color: #fc9c67;"></i></div>
                </div>
                <div class="itemquantitysection">
                  <div class="decreasequantity"><span class="increasedecrease">-</span></div>
                  <div class="quantity">1</div>
                  <div class="increasequantity"><span class="increasedecrease">+</span></div>
                </div>
              </div>
              <div class="itemcardcontainer">
                <div class="itemcardsection">
                  <div class="cardsection">
                    <div class="itemimage"><img src="assets/imagefolder/itemimage.jfif" alt=""></div>
                    <div class="itemcarddetails">
                      <div class="checkoutpageitemname">Fruit salad mix</div>
                      <div><span class="effectiveprice">&#8377; <span>49.00</span></span><span class="originalprice">&#8377; <span>99.00</span></span></div>
                      <div><span class="percent">%</span><span class="freedeliveryheading">Free Delivery</span></div>
                    </div>
                  </div>
                  <div class="deletebtn"><i class="fas fa-trash-alt" style="color: #fc9c67;"></i></div>
                </div>
                <div class="itemquantitysection">
                  <div class="decreasequantity"><span class="increasedecrease">-</span></div>
                  <div class="quantity">1</div>
                  <div class="increasequantity"><span class="increasedecrease">+</span></div>
                </div>
              </div>
            </div>
            <div class="paymentsection">
              <div class="paymentheading">Payment status</div>
              <div class="stausbadge">
                Completed
              </div>
            </div>
            <div class="checkoutsection">
                <div class="tablesection">
                    <table class="table">
                        <tbody>
                          <tr>
                            <td>SubTotal</td>
                            <td class="grandtotalfont">&#8377; 429</td>
                          </tr>
                          <tr>
                            <td>Grand Total</td>
                            <td>&#8377; 429</td>
                          </tr><tr>
                            <td class="wrap">Taxes <span class="gasttext">(GST + Service charge) </span> <span>0 %</span></td>
                            <td>&#8377; 429</td>
                          </tr>
                          <tr class="grandtotalfont">
                            <td>Grand Total</td>
                            <td>&#8377; 429</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
            <div class="extraingredientssection">
              <div class="extraingredientheading">Add extra ingredients</div>

              <div class="ingradientscardcontainer">
                <div class="cardsection">
                  <div class="ingredientimage"><img src="assets/imagefolder/itemimage.jfif" alt=""></div>
                  <div class="ingredientdetails">
                    <div class="ingredientname">Mushrooms</div>
                    <div><span class="ingredientweight">50 gm</span><span class="addonprices"><span>+</span>&#8377;<span>0.50</span></span></div>
                  </div>
                </div>
                <div class="checkbox"><input type="checkbox" name="" id=""></div>
              </div>
              <div class="ingradientscardcontainer">
                <div class="cardsection">
                  <div class="ingredientimage"><img src="assets/imagefolder/itemimage.jfif" alt=""></div>
                  <div class="ingredientdetails">
                    <div class="ingredientname">Mushrooms</div>
                    <div><span class="ingredientweight">50 gm</span><span class="addonprices"><span>+</span>&#8377;<span>0.50</span></span></div>
                  </div>
                </div>
                <div class="checkbox"><input type="checkbox" name="" id=""></div>
              </div>
              <div class="ingradientscardcontainer">
                <div class="cardsection">
                  <div class="ingredientimage"><img src="assets/imagefolder/itemimage.jfif" alt=""></div>
                  <div class="ingredientdetails">
                    <div class="ingredientname">Mushrooms</div>
                    <div><span class="ingredientweight">50 gm</span><span class="addonprices"><span>+</span>&#8377;<span>0.50</span></span></div>
                  </div>
                </div>
                <div class="checkbox"><input type="checkbox" name="" id=""></div>
              </div>
            </div>
            <div class="cancelbtn">
                <button>Cancel</button>
            </div>
        </div>
        <div class="orderconfirmed">
            <div class="headingsection">
                <div class="backbtn"><i class="fas fa-arrow-left"></i></div>
                <div class="orderid">Order#3556778</div>
                <div class="heading">Order Confirmed</div>
                <div class="timer">Ready in 12:20</div>
                <div class="headingsectionimage"><img src="assets/imagefolder/orderconfirmed.png" alt=""></div>
            </div>

            <div class="checkoutsection">
                <div class="tablesection">
                    <table class="table">
                        <tbody>
                          <tr>
                            <td>SubTotal</td>
                            <td class="grandtotalfont">&#8377; 429</td>
                          </tr>
                          <tr>
                            <td>Grand Total</td>
                            <td>&#8377; 429</td>
                          </tr><tr>
                            <td>Taxes (GST + Service charge) <span>0%</span></td>
                            <td>&#8377; 429</td>
                          </tr>
                          <tr class="grandtotalfont">
                            <td>Grand Total</td>
                            <td>&#8377; 429</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>

            <div class="orderdetailsbtn">
                <button>Order Details</button>
            </div>
        </div>
        <div class="rejected">
            <div class="headingsection">
                <div class="backbtn"><i class="fas fa-arrow-left"></i></div>
                <div class="orderid">Order#3556778</div>
                <div class="heading">Rejected</div>
                <div class="timer">Ready in 12:20</div>
                <div class="headingsectionimage"><img src="assets/imagefolder/rejected.png" alt=""></div>
            </div>

            <div class="checkoutsection">
                <div class="tablesection">
                    <table class="table">
                        <tbody>
                          <tr>
                            <td>SubTotal</td>
                            <td class="grandtotalfont">&#8377; 429</td>
                          </tr>
                          <tr>
                            <td>Grand Total</td>
                            <td>&#8377; 429</td>
                          </tr><tr>
                            <td>Taxes (GST + Service charge) <span>0%</span></td>
                            <td>&#8377; 429</td>
                          </tr>
                          <tr class="grandtotalfont">
                            <td>Grand Total</td>
                            <td>&#8377; 429</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>

            <div class="orderdetailsbtn">
                <button>Order Details</button>
            </div>
        </div>
        <div class="readytoserve">
            <div class="headingsection">
                <div class="backbtn"><i class="fas fa-arrow-left"></i></div>
                <div class="orderid">Order#3556778</div>
                <div class="heading">Ready to Serve</div>
                <div class="timer">Ready in 12:20</div>
                <div class="headingsectionimage"><img src="assets/imagefolder/readytoserve.png" alt=""></div>
            </div>

            <div class="checkoutsection">
                <div class="tablesection">
                    <table class="table">
                        <tbody>
                          <tr>
                            <td>SubTotal</td>
                            <td class="grandtotalfont">&#8377; 429</td>
                          </tr>
                          <tr>
                            <td>Grand Total</td>
                            <td>&#8377; 429</td>
                          </tr><tr>
                            <td>Taxes (GST + Service charge) <span>0%</span></td>
                            <td>&#8377; 429</td>
                          </tr>
                          <tr class="grandtotalfont">
                            <td>Grand Total</td>
                            <td>&#8377; 429</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>

            <div class="orderdetailsbtn">
                <button>Order Details</button>
            </div>
        </div>
      </div>
    </div>
    <cart></cart>
    <bottom-nav></bottom-nav>
  </div>
</div>
