 <div class="centering">
  <div class="wrapper">
    <div class="mainpage">
      <header></header>
      <div class="orderstatuspage" [ngClass]="{'disabled': cancleStatus }" *ngIf="order">
        <div [class]="getStatus(order.status).class">
            <div class="headingsection">
              <div class="backbtn" (click)="sharedService.back()"><i class="fas fa-arrow-left"></i></div>
              <div class="orderid">Order Id #{{order.orderId.slice(-5)}}</div>
              <div class="heading">{{getStatus(order.status).title}}</div>
              <div class="timer">{{ order.booking_details?.bookingDate | date }} {{ order.booking_details?.startTime }}</div>
              <div class="headingsectionimage"><img src="assets/imagefolder/{{getStatus(order.status).img}}" alt=""></div>
            </div>
            <div class="bucketsection">
              <div class="mybucketheadingarea">
                <div class="mybucketheading">My Bucket</div>
                <!-- <div class="additemsbtn">
                  <button>+ Add Items</button>
                </div> -->
              </div>

              <div class="itemcardcontainer" *ngFor="let product of order.products">
                <div class="itemcardsection">
                  <div class="cardsection">
                    <div class="itemimage">
                      <img src="assets/imagefolder/resturantimg.jfif" *ngIf="product.image === null || product.image === ''" referrerpolicy="no-referrer" alt="item image">
                      <img [src]="storageUrl + product.image" *ngIf="product.image !== null && product.image !== ''" referrerpolicy="no-referrer" alt="item image" />
                    </div>
                    <div class="itemcarddetails">
                      <div class="checkoutpageitemname">{{product.name}}</div>
                      <div>
                        <span class="effectiveprice">
                          <span>
                            <span>{{product.quantity}}</span>
                          </span> X <span>{{product.price | currency: 'INR'}}</span>
                        </span>
                      </div>
                      <!-- <div><span class="percent">%</span><span class="freedeliveryheading">Free Delivery</span></div> -->
                    </div>
                  </div>
                  <!-- <div class="deletebtn"><i class="fas fa-trash-alt" style="color: #fc9c67;"></i></div> -->
                </div>
                <!-- <div class="itemquantitysection">
                  <div class="decreasequantity"><span class="increasedecrease">-</span></div>
                  <div class="quantity">1</div>
                  <div class="increasequantity"><span class="increasedecrease">+</span></div>
                </div> -->
              </div>
            </div>
            <div class="paymentsection">
              <div class="paymentheading">
                <span>Payment Status</span>
              </div>
              <div [class]="getPaymentStatus(order.paymentStatus).class">
                {{getPaymentStatus(order.paymentStatus).title}}
              </div>
            </div>
            <div class="paymentsection">
              <div class="paymentheading">Payment Method</div>
              <div>
                {{ order.paymentMethod === 1?'Pay Now':'Pay At Shop' }}
              </div>
            </div>
            <div class="paymentsection" *ngIf="order.status === 3 || order.status === 9">
              <div class="paymentheading">{{ order.status === 3?'Reject':'Cancel' }} Reason</div>
              <div>
                {{ order.reject_order?.reason }}
              </div>
            </div>
            <!-- <div class="refundstatussection">
              <div class="refundheading">Refund Status</div>
              <div class="orderstatus">Pending</div>
            </div> -->
            <div class="shopdetailsheading">Shop Details</div>
            <div class="shopdetailsection" *ngIf="order.shop">
              <div class="shopname">{{ order.shop.title }}</div>
              <div class="shopaddress" *ngIf="order.shop.address && order.shop.address.length > 0">{{ order.shop.address[0].addressLine }}, {{ order.shop.address[0].landmark }}, {{ order.shop.address[0].city }}, {{ order.shop.address[0].pincode }}</div>
              <div class="visitshopsection" routerLink="/menu/{{order.shop.slug}}">
                  <div>Visit Shop & Menu</div>
                  <div class="visitbtn"><i class="fas fa-angle-right" style="color: #000000;"></i></div>
              </div>
            </div>
            <div class="userdetailsheadingsection">
              <div class="userdetailsheading">User Details</div>
              <div class="editbtn"><i class="fas fa-edit" style="color: #000000;"></i></div>
          </div>
          <div class="userdetailsection">
              <div class="usernamesection">
                  <div><i class="fas fa-user-alt" style="color: #000000;"></i></div>
                  <div>{{ sharedService.user.name }}</div>
              </div>
              <!-- <div class="usernumbersection">
                  <div><i class="fas fa-phone" style="color: #000000;"></i></div>
                  <div>{{ sharedService.user.medium[0].value }}</div>
              </div> -->
          </div>

            <div class="ordersummaryheading">Order Summary</div>
            <div class="checkoutsection">
                <div class="tablesection">
                    <table class="table">
                        <tbody>
                          <tr>
                            <td>SubTotal</td>
                            <td class="grandtotalfont">{{order.subTotal | currency: 'INR'}}</td>
                          </tr>
                          <tr>
                            <td class="wrap">Taxes <span class="gasttext">(GST + Service charge) </span></td>
                            <td>{{order.taxAmount | currency: 'INR'}}</td>
                          </tr>
                          <tr>
                            <td>Grand Total</td>
                            <td>{{order.grandTotal | currency: 'INR'}}</td>
                          </tr>
                          <tr>
                            <td>Paid Amount</td>
                            <td>{{order.paidAmount | currency: 'INR'}}</td>
                          </tr>
                          <tr class="grandtotalfont">
                            <td>Payable Amount</td>
                            <td>{{ (order.payableAmount) | currency: 'INR'}}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
            <!-- <div class="extraingredientssection">
              <div class="extraingredientheading">Add extra ingredients</div>

              <div class="ingradientscardcontainer">
                <div class="cardsection">
                  <div class="ingredientimage"><img src="assets/imagefolder/itemimage.jfif" alt=""></div>
                  <div class="ingredientdetails">
                    <div class="ingredientname">Mushrooms</div>
                    <div><span class="ingredientweight">50 gm</span><span class="addonprices"><span>+</span>&#8377;<span>0.50</span></span></div>
                  </div>
                </div>
                <div class="checkbox"><input type="checkbox" name="" id=""></div>
              </div>
              <div class="ingradientscardcontainer">
                <div class="cardsection">
                  <div class="ingredientimage"><img src="assets/imagefolder/itemimage.jfif" alt=""></div>
                  <div class="ingredientdetails">
                    <div class="ingredientname">Mushrooms</div>
                    <div><span class="ingredientweight">50 gm</span><span class="addonprices"><span>+</span>&#8377;<span>0.50</span></span></div>
                  </div>
                </div>
                <div class="checkbox"><input type="checkbox" name="" id=""></div>
              </div>
              <div class="ingradientscardcontainer">
                <div class="cardsection">
                  <div class="ingredientimage"><img src="assets/imagefolder/itemimage.jfif" alt=""></div>
                  <div class="ingredientdetails">
                    <div class="ingredientname">Mushrooms</div>
                    <div><span class="ingredientweight">50 gm</span><span class="addonprices"><span>+</span>&#8377;<span>0.50</span></span></div>
                  </div>
                </div>
                <div class="checkbox"><input type="checkbox" name="" id=""></div>
              </div>
            </div> -->
            <div class="cancelbtn" *ngIf="order.status === 0 || order.status === 1">
                <button (click)="cancleOrder()" >Cancel</button>
            </div>
            <div class="orderdetailsbtn" *ngIf="order.status === 7 || order.status === 8">
                <button (click)="reOrder()">Re-order</button>
            </div>
        </div>
      </div>
      <cancel-order *ngIf="cancleStatus" [orderId]="this.order.id" (newItemEvent)="output($event)"></cancel-order>
    </div>
    <app-footer [show]="false"></app-footer>
    <bottom-nav></bottom-nav>
  </div>
</div>
