<div class="cartpage" *ngIf="cart && cart.length > 0 && sharedService.bottomBadgeVisible.cart">
  <div class="cartfloatarea">
      <!-- <div class="cartleftpart">
          <img src="assets/imagefolder/resturantimg.jfif" *ngIf="cart[0].shop.profileImage === null || cart[0].shop.profileImage === ''" referrerpolicy="no-referrer"  alt="restaurant image" />
          <img [src]="storageUrl + cart[0].shop.profileImage" *ngIf="cart[0].shop.profileImage !== null && cart[0].shop.profileImage !== ''" referrerpolicy="no-referrer"  alt="restaurant image" />
          <div class="cartshopdetails">
              <div class="shopname">{{cart[0].shop.title}}</div>
              <div class="leftitemmenu">
                  <div class="noofitemincart">{{cart.length}} items</div>
                  <div><a [routerLink]="'/menu/' + cart[0].shop.slug">View Menu</a></div>
              </div>
          </div>
      </div>
      <div class="cartrightpart">
          <button routerLink="/checkout">
              <div class="cartvalue">{{amount | currency: 'INR'}}</div>
              <div class="cartcheckoutheading">Checkout</div>
          </button>
          <div class="cancelbtn" (click)="sharedService.bottomBadgeVisible.cart = 0"><img src="assets/imagefolder/cancel.png" alt=""></div>
      </div> -->
      <div class="bottomnavigationn">
        <div class="text-1">
          {{ cart.length }} Item Added <i class="fas fa-arrow-circle-right"></i>
        </div>
        <div class="text-2">
          Pay {{amount | currency: 'INR'}} and place order now
        </div>
      </div>
  </div>
</div>
