<div class="cartpage">
  <div class="cartfloatarea">
      <div class="cartleftpart">
          <img src="assets/imagefolder/itemimage.jfif" alt="restaurant image"/>
          <div class="cartshopdetails">
              <div class="shopname">Shop Name</div>
              <div class="leftitemmenu">
                  <div class="noofitemincart">3 items</div>
                  <div><a href="#">View Menu</a></div>
              </div>
          </div>
      </div>
      <div class="cartrightpart">
          <button>
              <div class="cartvalue">&#x20B9; 200</div>
              <div class="cartcheckoutheading">Checkout</div>
          </button>
      </div>
  </div>
</div>
